.about__content {
    color: var(--color-black);

    .about__head {
        position: relative;
        background-size: cover;
        background-position: 20%;
        padding: 40px 20px;
        height: 42vh;
        max-height: 420px;
        min-height: 360px;
        color: #fff;
        text-align: center;
        background-image: url(/images/about/about_main.jpg);

        .about__header_block {
            position: absolute;
            bottom: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
            max-width: 100%;
            z-index: 2;

            .about__header {
                position: relative;
                z-index: 1;
                margin: 0;
                font-size: 50px;
            }

            p {
                position: relative;
                z-index: 1;
                margin-top: 10px;
                margin-bottom: 0;
                line-height: 1.5;
                font-size: 26px;
                font-weight: 300;
            }

            .about__logo {
                vertical-align: middle;
                font-family: MontDemo-Heavy, serif;
            }
        }
    }

    .about__body {
        padding-left: 20px;
        padding-right: 20px;
        width: 60%;
        max-width: 80%;
        margin: 2em auto 2em;

        hr {
            border-top: var(--color-border);
        }

        .about__info_block {
            margin: 1em 0;

            h2 {
                color: var(--text-black-primary);
                text-align: center;
                margin-bottom: 1.5em;
            }

            .tour_desc_right {
                display: grid;
                grid-template-columns: 40% auto;
            }

            .tour_desc_left {
                display: grid;
                grid-template-columns: auto 40%;
            }

            .about__text {
                color: var(--text-black-primary);
            }

            .tour_image_block_right {
                overflow: hidden;
                width: 100%;
                position: relative;

                &:before {
                    z-index: 1;
                    content: "";
                    box-shadow: -15px 0px 15px -15px inset;
                    height: 100%;
                    position: absolute;
                    width: 12px;
                    right: 0;
                }

                .tour_image_right {
                    position: relative;
                    left: 40%;
                }
            }

            .tour_image_block_left {
                overflow: hidden;
                width: 100%;
                position: relative;

                &:before {
                    z-index: 1;
                    content: "";
                    box-shadow: 15px 1px 15px -15px inset;
                    height: 100%;
                    position: absolute;
                    width: 15px;
                }

                .tour_image_left {
                    position: relative;
                    right: 40%;
                }
            }

            .post-content__item {
                margin-bottom: 0 !important;
            }
        }
    }
}


@media (max-width: 1281px) {
    .about__content .about__body {
        width: unset !important;
        max-width: unset !important;
    }
}
