@import '~@mdi/font/scss/variables';
@import '~@mdi/font/scss/functions';
//@import '~@mdi/font/scss/path';

// 'path'-file fixes
@font-face {
    font-family: '#{$mdi-font-name}';
    font-display: swap;
    src: url('/fonts/#{$mdi-filename}-webfont.eot');
    src: url('/fonts/#{$mdi-filename}-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/#{$mdi-filename}-webfont.woff2') format('woff2'),
    url('/fonts/#{$mdi-filename}-webfont.woff') format('woff'),
    url('/fonts/#{$mdi-filename}-webfont.ttf') format('truetype'),
    url('/fonts/#{$mdi-filename}-webfont.svg##{$mdi-filename}#{$mdi-font-weight}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import '~@mdi/font/scss/core';
@import '~@mdi/font/scss/icons';
@import '~@mdi/font/scss/extras';
@import '~@mdi/font/scss/animated';
