@import "variables";

.footer {
    flex: 0 0 auto;
    width: 100%;
    margin-top: auto;
    background-color: #242729;
    border-top: 1px solid var(--color-border);

    .footer-content {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        align-items: center;
        height: 54px;

        .nav-links {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin: 0;
            padding: 0 0 0 30px;
            list-style: none;

            .nav-links__item {
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
                margin-right: 23px;

                .nav-links__item-link {
                    font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
                    display: inline-block;
                    font-size: 13px;
                    letter-spacing: 0.3px;
                    box-sizing: border-box;
                    text-transform: uppercase;
                    white-space: nowrap;
                    -webkit-font-smoothing: subpixel-antialiased;
                    text-rendering: optimizeLegibility;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    -webkit-transition-property: all;
                    transition-property: all;
                    -webkit-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                    -webkit-transition-timing-function: ease;
                    transition-timing-function: ease;
                    -webkit-transition-delay: 0s;
                    transition-delay: 0s;

                    &:last-child {
                        margin-right: 0
                    }
                }
            }
        }

        .logo-footer {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            color: #bbc0c4;
            transition-duration: 0.2s;
            font-family: MontDemo-Heavy, serif;
            font-size: 26px;

            &:hover {
                color: #f2f3f3;
            }
        }

        .nav-links__item-link {
            color: var(--footer);

            &:hover {
                color: var(--color-primary-dark);
            }
        }

        .copyright {
            color: var(--footer);
            padding-left: 22px;
            position: relative;
        }
    }
}
