@import "notification";

.layout__navbar {
    border-bottom: 1px solid var(--color-border);
    box-sizing: border-box;
    background-color: var(--background-header);


    .main-navbar {
        display: flex;
        width: 80%;
        margin: 0 auto;
        -webkit-box-pack: justify;
        justify-content: space-between;
        box-sizing: border-box;

        /* Dropdown Button */
        .avatar-dropdown {
            height: 32px;

            .relative {
                border: none;
                box-shadow: none;
            }

            button {
                cursor: pointer;
                border: none;
                box-shadow: none;

                img {
                    border: none;
                    box-shadow: none;
                }
            }

            .menu {
                position: absolute;
                right: 0;
                margin-top: .5rem;
                font-size: 13px;
                line-height: 18px;
                min-width: 160px;
                text-align: left;
                width: 100%;
                list-style: none;
                cursor: pointer;
                color: #29303b;
                background-color: var(--text-white-primary);
                border: 1px solid var(--color-border);
                z-index: 11;

                .menu-head{
                    padding: 0;
                    border: 0;
                    font: inherit;
                    vertical-align: baseline;
                    font-size: 10px;
                    font-weight: 700;
                    letter-spacing: .5px;
                    cursor: default;
                    line-height: 12px;
                    text-transform: uppercase;
                    color: var(--text-black-secondary);
                    margin: 8px 0 4px 10px;
                }

                li {
                    color: var(--text-black-primary);

                    i{
                        font-size: 20px;
                        margin: 0 10px;
                        color: var(--text-black-secondary);
                    }

                    &:hover {
                        color: var(--text-white-primary);
                        background: var(--text-black-secondary);

                        i{
                            color: var(--text-white-secondary);
                        }
                    }

                    a{
                        display: block;
                        padding: 10px 0;
                        width: 100%;
                        color: inherit;
                    }
                }
            }
        }

        .form-search {
            flex: 1 1 0;
            display: none;
            font-size: 14px;
            box-sizing: border-box;
            padding: 0 12px;
            align-items: center;
            position: relative;
            margin-left: auto;
            width: 100%;

            .header_search {
                width: 100%;
                margin-left: auto;

                .search {
                    display: block;
                    font-size: 13px;
                    padding: 8px 8px 8px 32px;
                    border-radius: 3px;
                    width: 100%;


                    &:focus {
                        width: 100%;
                    }

                    &:focus-within #navbar-links {
                        display: none;
                    }
                }

                .mdi-magnify {
                    left: 22px;
                    position: absolute;
                    top: 50%;
                    font-size: 18px;
                    z-index: 3;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                .mdi-file-excel-box {
                    cursor: pointer;
                    right: 22px;
                    position: absolute;
                    top: 50%;
                    font-size: 18px;
                    z-index: 3;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);

                    &:hover {
                        //background: rgba(167, 182, 194, .3);
                        text-decoration: none;
                        color: #182026;
                        border-radius: 3px;
                    }
                }
            }
        }

        .logo {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            color: var(--text-black-primary);
            border-right: 1px solid #d5dddf;
            font-family: MontDemo-Heavy, sans-serif;
            font-size: 26px;
            padding-right: 18px;

            &:hover {
                text-decoration: none;
                color: var(--text-black-secondary);
            }
        }

        .main-navbar__section {
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            height: 50px;

            .mdi-magnify, .mdi-bell, .mdi-email {
                cursor: pointer;
                opacity: .7;
                font-weight: 500;
                font-size: 1.2rem;
                color: var(--text-black-secondary);

                &:hover {
                    opacity: 1;
                }
            }

            .nav-links {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                margin: 0;
                padding: 0 0 0 30px;
                list-style: none;

                .nav-links__item {
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    -ms-grid-row-align: center;
                    align-items: center;
                    margin-right: 23px;

                    .nav-links__item-link {
                        display: inline-block;
                        color: var(--color-header);
                        font-size: 13px;
                        font-weight: 700;
                        letter-spacing: 0.3px;
                        box-sizing: border-box;
                        text-transform: uppercase;
                        white-space: nowrap;
                        -webkit-font-smoothing: subpixel-antialiased;
                        text-rendering: optimizeLegibility;
                        -webkit-transition: 0.2s;
                        transition: 0.2s;
                        -webkit-transition-property: all;
                        transition-property: all;
                        -webkit-transition-duration: 0.2s;
                        transition-duration: 0.2s;
                        -webkit-transition-timing-function: ease;
                        transition-timing-function: ease;
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s;

                        &:hover {
                            background: unset;
                            color: var(--color-primary-main);
                        }
                    }
                }
            }
        }
    }
}

.nav-links__item-link_current {
    color: var(--color-primary-main) !important;
}
