@font-face {
    font-family: MontDemo-Heavy;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/MontDemo-Heavy.otf");
}

@import "abstract/variables";
@import '~reset-css';
@import "base/reset";
@import "base/typography";
@import "base/variables";
@import "kernel";
@import "components/buttons";

body {
    width: 100%;
    min-height: 100vh;
}

.login {
    min-height: 100vh;
    min-width: 100%;

    &__left {
        background: var(--color-primary-main-button);
        color: #fff;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 100vh;
        grid-column: 1;
    }

    &__info {
        color: #fff;
        display: flex;
        max-width: 70%;
        flex-direction: column;
        justify-content: center;
        z-index: 99;

        &-block {
            display: flex;
            margin-bottom: 24px;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 26px;
        color: var(--color-white);
    }

    &__logo {
        font-size: inherit;
        margin: unset;
        color: var(--color-black);
    }

    &__form {
        position: relative;
        margin-bottom: 15px;

        &-input {
            display: block;
            box-sizing: border-box;
            font-family: inherit;
            overflow: visible;
            outline: none;
            width: 100%;
            transition: all 0.2s ease-in-out;
            height: 48px;
            padding: 1.8rem 1rem 0.6rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 1rem;
            border-radius: 4px;
        }

        &-label {
            font-weight: 500;
            pointer-events: none;
            display: block;
            position: absolute;
            margin-top: 2px;
            color: #a5a4a4;
            text-transform: uppercase;
            transform: translate3d(0, 0, 0) scale(1);
            transform-origin: left top;
            transition: all .2s ease-in-out;

            &::before {
                color: var(--label__color);
                content: attr(data-content);
                display: inline-block;
                filter: blur(0);
                backface-visibility: hidden;
                transform-origin: left top;
                transition: transform 0.2s ease;
                left: 1rem;
                position: relative;
            }

            &::after {
                bottom: 1rem;
                content: "";
                height: 0.1rem;
                position: absolute;
                transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
                opacity: 0;
                left: 0;
                top: 100%;
                margin-top: -0.1rem;
                transform: scale3d(0, 1, 1);
                width: 100%;
                background-color: var(--color__accent);
            }
        }

        &.is-focused &-label{
            transform: translateY(-20px) scale(0.55);
        }

        //&-input:focus + &-label {
        //    transform: scale3d(1, 1, 1);
        //    opacity: 1;
        //}
        //
        //&-input:valid + &-label {
        //    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
        //}
        //
        //&-label::before,
        //&-input:focus + &-label::before {
        //    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
        //}
    }
}

@media (min-width: 1281px) {
    .login {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .login__left {
        background: var(--color-primary-main-button);
        color: #fff;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 100vh;
        grid-column: 1;

        .login__info-block {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 99;

            .login__registration-block-info {
                display: flex;
                margin-bottom: 24px;

                .mdi {
                    font-size: 25px;
                }

                .icon-thumbs-up:hover {
                    color: unset;
                    cursor: inherit;
                }

                .login__registration-info-text {
                    line-height: 1.5em;
                    margin-left: 15px;
                    font-size: 19px;
                }
            }

            .title {
                margin-bottom: 20px;
                font-size: 26px;
                color: var(--color-white);

                .logo_login {
                    font-size: inherit;
                    margin: unset;
                    color: var(--color-black);
                }
            }

            .svg-icon {
                color: var(--color-blue);
            }

            p {
                font-size: 13px;
            }
        }

        #particles-js {
            position: absolute;
            height: 100vh;
            width: 100%;
        }
    }
}

.login {
    min-height: 100vh;
    min-width: 100%;

    &__left {
        display: none;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--background-default);
        grid-column: 2;
        height: 100vh;

        .ColumnContainer {
            width: 85%;
            max-width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 50%;
        }

        &:before {
            content: '';
        }

        .login__footer {
            color: var(--text-black-primary);
            text-align: center;
            box-sizing: inherit;
            display: block;
            padding-bottom: 1.5rem;
        }

        .register {
            width: 100%;
            box-shadow: var(--block-shadow);
            border-radius: 4px;
            margin: 12px 0 !important;
            box-sizing: border-box;
        }

        .login-button {
            width: 100%;
            border: none;
            letter-spacing: .5px;
            height: 36px;
            transition: all .2s ease-in-out;
            padding: 0 10px;
            line-height: 40px;
            text-transform: uppercase;
        }

        .login__footer-links {
            white-space: normal;
            visibility: visible;
            box-sizing: border-box;
            text-align: center;
            margin: 0 auto;
            padding: 17px 0;
            width: 100%;

            .footer__link {
                white-space: normal;
                visibility: visible;
                text-align: center;
                box-sizing: border-box;
                text-decoration: none;
                cursor: pointer;
                color: var(--text-black-secondary);
                border: none;
                font-size: 14px;
                line-height: 16px;
            }

            a.footer__link.js-change-content:before {
                content: "\2022";
                display: inline-block;
                margin: 0 10px;
                color: #4f4f4f !important;
                font-size: 12px;
            }
        }
    }
}


//.AnimatedForm__textInput[data-empty=false] + .AnimatedForm__textInputLabel {
//    transform: translate3d(0, -8px, 0) scale(.83333333);
//    line-height: 14px;
//}
//
//.AnimatedForm__textInputLabel {
//    font-size: 10px;
//    font-weight: 600;
//    letter-spacing: .5px;
//    position: absolute;
//    display: inline-block;
//    vertical-align: middle;
//    top: 14px;
//    left: 12px;
//    color: #a5a4a4;
//    text-transform: uppercase;
//    transform: translateZ(0);
//    transform-origin: 0 50%;
//    transition: all .2s ease-in-out;
//    pointer-events: none;
//    line-height: 23px;
//}
//
//.AnimatedForm__textInput {
//    box-sizing: border-box;
//    font-family: inherit;
//    line-height: 1.15;
//    overflow: visible;
//    outline: none;
//    width: 100%;
//    transition: all 0.2s ease-in-out;
//    height: 48px;
//    padding: 22px 12px 10px;
//    border: 1px solid rgba(0, 0, 0, 0.1);
//    border-radius: 4px;
//}

.hideable {
    position: relative;
    max-height: 1000px;
    opacity: 1;
    transition: opacity .25s ease-in;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.AnimatedForm__field + .AnimatedForm__field {
    margin-top: 24px;
    margin-left: 0;
}

.Title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 20px 0;
}

.logo_login {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 20px 0;
    color: var(--text-black-primary);
    font-family: MontDemo-Heavy, serif;
    font-size: 26px;
    text-decoration: none;
}

.btn-reg {
    padding: 12px 15px !important;
    border-radius: 3px !important;
}

.btn-reg:hover {
    background-color: rgba(22, 114, 190, 1);
}

.right {
    align-items: center;
    margin-left: auto;
}

.default-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 64px;
    line-height: 64px;
    padding: 0 16px;
    z-index: 1030;
    transition: 0.3s background-color;
}

.desc {
    color: #5b647d;
    margin-bottom: 12px;
}
