.page{
    position: relative;
    float: left;
    color: var(--text-black-primary);
    padding: 5px 10px;
    display: inline-block;
    margin: 12px 12px 12px -1px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover{
        color: var(--color-primary-main);
        border: 1px solid var(--color-border-pagination);
    }
}

.active{
    background-color: var(--color-primary-main-button);
    color: var(--color-white);
    z-index: 2;

    &:hover{
        color: var(--color-white);
    }
}

.pagination{
    font-size: 14px;
    display: -webkit-box;
}

.page-ellipsis {
    pointer-events: none;
}
