.settings__header {
    white-space: normal;
    position: relative;
    z-index: 2;
    line-height: 1.5;
    font-weight: 600;
    color: var(--text-black-secondary);
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 15px;
}

.settings__header~.settings__header{
    margin-top: 35px;
}

.info {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 1%;

    .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        object-fit: cover;
        text-align: center;

        &:hover:after {
            content: "I am new";
        }

        //&:before{
        //    background: #0a0302;
        //}
    }
}

form{
    .btn{
        margin: 10px 0;
    }
}

.settings__description{
    line-height: 1.5;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--text-black-primary);
    white-space: normal;
    margin: 0 !important;
    padding: 10px 0;
}

.form-group {
    line-height: 1.5;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--text-black-primary);
    white-space: normal;
    display: grid;
    margin: 0 !important;
    grid-template-columns: 20% auto;
    border-bottom: var(--color-border-button);
    padding: 10px 0;

    &:first-child{
        border-top: var(--color-border-button);
    }

    .settings__label {
        color: gray;
        margin: auto 0;
    }

    .settings__input {
        list-style: none;
        white-space: nowrap;
        margin: 0;
        box-sizing: border-box;
        padding: 0 9px;
        background: var(--background-paper);
        border: var(--color-border-button);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
        font-size: 1em;
        font-weight: 600;
        color: inherit;
        width: 55%;
        height: 40px;
        line-height: 40px;
        -webkit-text-fill-color: inherit;
    }

    span{
        display: inline-block;
        position: relative;
        width: 55%;

        .settings__input-select{
            list-style: none;
            white-space: nowrap;
            font-size: 1em;
            font-weight: 600;
            padding: 0 9px;
            margin: 0;
            text-transform: none;
            -webkit-appearance: none;
            background: var(--background-paper);
            color: var(--text-black-primary);
            border: var(--color-border-button);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
            cursor: pointer;
            width: 100%;
            height: 40px;
            line-height: 40px;
        }

        .input-wrapper__icon{
            position: absolute;
            font-size: 9px;
            top: 50%;
            right: 10px;
            color: #a5a5a5;
            transform: translateY(-50%);
        }
    }
}

.settings-layout__navigation {
    line-height: 1.5;
    white-space: normal;
    visibility: inherit;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--text-black-secondary);
    margin-bottom: 0;
    padding-bottom: 0;

    .settings-block__list {
        margin: 0 auto;
        text-transform: uppercase;
        background: var(--background-secondary);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .15);

        .settings__nav-item {
            line-height: 1.5;
            white-space: normal;
            visibility: inherit;
            list-style: none;
            border-top: 1px solid rgba(0, 0, 0, .08);

            &:first-child{
                border-top: none;
            }

            &:hover{
                background: var(--background-paper);
            }

            i{
                margin-right: 5px;
                font-size: 15px;
            }

            .nav-links__item-link_current{
                background: var(--background-paper);
            }

            .nav-links__item {
                display: block;
                height: 56px;
                padding: 0 10px;
                font-weight: 600;
                line-height: 56px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
