.env
vendor
.docker/data
.docker/mysql/data
.phpstorm.meta.php
.phpunit.result.cache
composer.lock
package-lock.json
yarn-error.log
_ide_helper.php
public/assets
public/css
public/js
public/mix-manifest.json
node_modules
.idea