/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
composer.phar
composer.lock
yarn-error.log
.idea
.php_cs
.php_cs.cache
rr
.rr.yaml
