/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
composer.phar
composer.lock
yarn-error.log
.idea
.php_cs
.php_cs.cache
.docker/data/logs/nginx/error.log
.docker/data/logs/nginx/access.log
.docker/mysql/data/#ib_16384_0.dblwr
.docker/mysql/data/#ib_16384_1.dblwr
.docker/mysql/data/8d3a75a24eef.err
.docker/mysql/data/auto.cnf
.docker/mysql/data/binlog.000001
.docker/mysql/data/binlog.000002
.docker/mysql/data/binlog.000003
.docker/mysql/data/binlog.000004
.docker/mysql/data/binlog.000005
.docker/mysql/data/binlog.index
.docker/mysql/data/ca-key.pem
.docker/mysql/data/ca.pem
.docker/mysql/data/client-cert.pem
.docker/mysql/data/client-key.pem
.docker/mysql/data/general.log
.docker/mysql/data/ib_buffer_pool
.docker/mysql/data/ib_logfile0
.docker/mysql/data/ib_logfile1
.docker/mysql/data/ibdata1
.docker/mysql/data/mysql.ibd
.docker/mysql/data/private_key.pem
.docker/mysql/data/public_key.pem
.docker/mysql/data/server-cert.pem
.docker/mysql/data/server-key.pem
.docker/mysql/data/undo_001
.docker/mysql/data/undo_002
.docker/mysql/data/devhub/articles.ibd
.docker/mysql/data/devhub/comments.ibd
.docker/mysql/data/devhub/favorites.ibd
.docker/mysql/data/devhub/followables.ibd
.docker/mysql/data/devhub/hubs.ibd
.docker/mysql/data/devhub/jobs.ibd
.docker/mysql/data/devhub/localization.ibd
.docker/mysql/data/devhub/media.ibd
.docker/mysql/data/devhub/migrations.ibd
.docker/mysql/data/devhub/notifications.ibd
.docker/mysql/data/devhub/password_resets.ibd
.docker/mysql/data/devhub/taggables.ibd
.docker/mysql/data/devhub/user_follower.ibd
.docker/mysql/data/devhub/users.ibd
.docker/mysql/data/devhub/views.ibd
.docker/mysql/data/devhub/votes.ibd
.docker/mysql/data/mysql/general_log_212.sdi
.docker/mysql/data/mysql/general_log.CSM
.docker/mysql/data/mysql/general_log.CSV
.docker/mysql/data/mysql/slow_log_213.sdi
.docker/mysql/data/mysql/slow_log.CSM
.docker/mysql/data/mysql/slow_log.CSV
.docker/mysql/data/performance_schema/accounts_145.sdi
.docker/mysql/data/performance_schema/binary_log_trans_189.sdi
.docker/mysql/data/performance_schema/cond_instances_82.sdi
.docker/mysql/data/performance_schema/data_lock_waits_161.sdi
.docker/mysql/data/performance_schema/data_locks_160.sdi
.docker/mysql/data/performance_schema/error_log_83.sdi
.docker/mysql/data/performance_schema/events_errors_su_139.sdi
.docker/mysql/data/performance_schema/events_errors_su_140.sdi
.docker/mysql/data/performance_schema/events_errors_su_141.sdi
.docker/mysql/data/performance_schema/events_errors_su_142.sdi
.docker/mysql/data/performance_schema/events_errors_su_143.sdi
.docker/mysql/data/performance_schema/events_stages_cu_111.sdi
.docker/mysql/data/performance_schema/events_stages_hi_112.sdi
.docker/mysql/data/performance_schema/events_stages_hi_113.sdi
.docker/mysql/data/performance_schema/events_stages_su_114.sdi
.docker/mysql/data/performance_schema/events_stages_su_115.sdi
.docker/mysql/data/performance_schema/events_stages_su_116.sdi
.docker/mysql/data/performance_schema/events_stages_su_117.sdi
.docker/mysql/data/performance_schema/events_stages_su_118.sdi
.docker/mysql/data/performance_schema/events_statement_119.sdi
.docker/mysql/data/performance_schema/events_statement_120.sdi
.docker/mysql/data/performance_schema/events_statement_121.sdi
.docker/mysql/data/performance_schema/events_statement_122.sdi
.docker/mysql/data/performance_schema/events_statement_123.sdi
.docker/mysql/data/performance_schema/events_statement_124.sdi
.docker/mysql/data/performance_schema/events_statement_125.sdi
.docker/mysql/data/performance_schema/events_statement_126.sdi
.docker/mysql/data/performance_schema/events_statement_127.sdi
.docker/mysql/data/performance_schema/events_statement_128.sdi
.docker/mysql/data/performance_schema/events_statement_129.sdi
.docker/mysql/data/performance_schema/events_statement_130.sdi
.docker/mysql/data/performance_schema/events_transacti_131.sdi
.docker/mysql/data/performance_schema/events_transacti_132.sdi
.docker/mysql/data/performance_schema/events_transacti_133.sdi
.docker/mysql/data/performance_schema/events_transacti_134.sdi
.docker/mysql/data/performance_schema/events_transacti_135.sdi
.docker/mysql/data/performance_schema/events_transacti_136.sdi
.docker/mysql/data/performance_schema/events_transacti_137.sdi
.docker/mysql/data/performance_schema/events_transacti_138.sdi
.docker/mysql/data/performance_schema/events_waits_cur_84.sdi
.docker/mysql/data/performance_schema/events_waits_his_85.sdi
.docker/mysql/data/performance_schema/events_waits_his_86.sdi
.docker/mysql/data/performance_schema/events_waits_sum_87.sdi
.docker/mysql/data/performance_schema/events_waits_sum_88.sdi
.docker/mysql/data/performance_schema/events_waits_sum_89.sdi
.docker/mysql/data/performance_schema/events_waits_sum_90.sdi
.docker/mysql/data/performance_schema/events_waits_sum_91.sdi
.docker/mysql/data/performance_schema/events_waits_sum_92.sdi
.docker/mysql/data/performance_schema/file_instances_93.sdi
.docker/mysql/data/performance_schema/file_summary_by__94.sdi
.docker/mysql/data/performance_schema/file_summary_by__95.sdi
.docker/mysql/data/performance_schema/global_status_181.sdi
.docker/mysql/data/performance_schema/global_variables_184.sdi
.docker/mysql/data/performance_schema/host_cache_96.sdi
.docker/mysql/data/performance_schema/hosts_146.sdi
.docker/mysql/data/performance_schema/keyring_keys_152.sdi
.docker/mysql/data/performance_schema/log_status_174.sdi
.docker/mysql/data/performance_schema/memory_summary_b_154.sdi
.docker/mysql/data/performance_schema/memory_summary_b_155.sdi
.docker/mysql/data/performance_schema/memory_summary_b_156.sdi
.docker/mysql/data/performance_schema/memory_summary_b_157.sdi
.docker/mysql/data/performance_schema/memory_summary_g_153.sdi
.docker/mysql/data/performance_schema/metadata_locks_159.sdi
.docker/mysql/data/performance_schema/mutex_instances_97.sdi
.docker/mysql/data/performance_schema/objects_summary__98.sdi
.docker/mysql/data/performance_schema/performance_time_99.sdi
.docker/mysql/data/performance_schema/persisted_variab_187.sdi
.docker/mysql/data/performance_schema/prepared_stateme_175.sdi
.docker/mysql/data/performance_schema/processlist_100.sdi
.docker/mysql/data/performance_schema/replication_appl_165.sdi
.docker/mysql/data/performance_schema/replication_appl_166.sdi
.docker/mysql/data/performance_schema/replication_appl_167.sdi
.docker/mysql/data/performance_schema/replication_appl_168.sdi
.docker/mysql/data/performance_schema/replication_appl_170.sdi
.docker/mysql/data/performance_schema/replication_appl_171.sdi
.docker/mysql/data/performance_schema/replication_asyn_172.sdi
.docker/mysql/data/performance_schema/replication_asyn_173.sdi
.docker/mysql/data/performance_schema/replication_conn_162.sdi
.docker/mysql/data/performance_schema/replication_conn_164.sdi
.docker/mysql/data/performance_schema/replication_grou_163.sdi
.docker/mysql/data/performance_schema/replication_grou_169.sdi
.docker/mysql/data/performance_schema/rwlock_instances_101.sdi
.docker/mysql/data/performance_schema/session_account__151.sdi
.docker/mysql/data/performance_schema/session_connect__150.sdi
.docker/mysql/data/performance_schema/session_status_182.sdi
.docker/mysql/data/performance_schema/session_variable_185.sdi
.docker/mysql/data/performance_schema/setup_actors_102.sdi
.docker/mysql/data/performance_schema/setup_consumers_103.sdi
.docker/mysql/data/performance_schema/setup_instrument_104.sdi
.docker/mysql/data/performance_schema/setup_objects_105.sdi
.docker/mysql/data/performance_schema/setup_threads_106.sdi
.docker/mysql/data/performance_schema/socket_instances_147.sdi
.docker/mysql/data/performance_schema/socket_summary_b_148.sdi
.docker/mysql/data/performance_schema/socket_summary_b_149.sdi
.docker/mysql/data/performance_schema/status_by_accoun_177.sdi
.docker/mysql/data/performance_schema/status_by_host_178.sdi
.docker/mysql/data/performance_schema/status_by_thread_179.sdi
.docker/mysql/data/performance_schema/status_by_user_180.sdi
.docker/mysql/data/performance_schema/table_handles_158.sdi
.docker/mysql/data/performance_schema/table_io_waits_s_107.sdi
.docker/mysql/data/performance_schema/table_io_waits_s_108.sdi
.docker/mysql/data/performance_schema/table_lock_waits_109.sdi
.docker/mysql/data/performance_schema/threads_110.sdi
.docker/mysql/data/performance_schema/tls_channel_stat_190.sdi
.docker/mysql/data/performance_schema/user_defined_fun_188.sdi
.docker/mysql/data/performance_schema/user_variables_b_176.sdi
.docker/mysql/data/performance_schema/users_144.sdi
.docker/mysql/data/performance_schema/variables_by_thr_183.sdi
.docker/mysql/data/performance_schema/variables_info_186.sdi
.docker/mysql/data/sys/sys_config.ibd
public/mix-manifest.json
public/assets/particles.json
public/css/animate.min.css
public/css/tailwind.css
public/js/about-us.js
public/js/admin.js
public/js/article-create.js
public/js/article-show.js
public/js/author.js
public/js/footer.js
public/js/header.js
public/js/home.js
public/js/hubs.js
public/js/login.js
public/js/manifest.js
public/js/node_modules_highlight_js_styles_atom-one-dark_css.js
public/js/node_modules_highlight_js_styles_github_css.js
public/js/scroller.js
public/js/settings.js
public/js/users.js
public/js/vendor.js
