@font-face {
  font-family: 'DevHub';
  src:  url('/fonts/devhub/DevHub.eot?byjuma');
  src:  url('/fonts/devhub/DevHub.eot?byjuma#iefix') format('embedded-opentype'),
    url('/fonts/devhub/DevHub.ttf?byjuma') format('truetype'),
    url('/fonts/devhub/DevHub.woff?byjuma') format('woff'),
    url('/fonts/devhub/DevHub.svg?byjuma#DevHub') format('svg');
  font-weight: normal;
  font-style: normal;
}

.devhub {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DevHub' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane-line:before {
  content: "\e900";
}
.icon-airplane-solid:before {
  content: "\e901";
}
.icon-auto-line:before {
  content: "\e902";
}
.icon-auto-solid:before {
  content: "\e903";
}
.icon-bicycle-line:before {
  content: "\e904";
}
.icon-bicycle-solid:before {
  content: "\e905";
}
.icon-boat-line:before {
  content: "\e906";
}
.icon-boat-solid:before {
  content: "\e907";
}
.icon-campervan-line:before {
  content: "\e908";
}
.icon-campervan-solid:before {
  content: "\e909";
}
.icon-caravan-line:before {
  content: "\e90a";
}
.icon-caravan-solid:before {
  content: "\e90b";
}
.icon-car-line:before {
  content: "\e90c";
}
.icon-car-solid:before {
  content: "\e90d";
}
.icon-compass-line:before {
  content: "\e90e";
}
.icon-compass-solid:before {
  content: "\e90f";
}
.icon-ferry-line:before {
  content: "\e910";
}
.icon-ferry-solid:before {
  content: "\e911";
}
.icon-map-line:before {
  content: "\e912";
}
.icon-map-marker-line:before {
  content: "\e913";
}
.icon-map-marker-outline-badged:before {
  content: "\e914";
}
.icon-map-marker-solid:before {
  content: "\e915";
}
.icon-map-marker-solid-badged:before {
  content: "\e916";
}
.icon-map-solid:before {
  content: "\e917";
}
.icon-plane-line:before {
  content: "\e918";
}
.icon-plane-solid:before {
  content: "\e919";
}
.icon-trailer-line:before {
  content: "\e91a";
}
.icon-trailer-solid:before {
  content: "\e91b";
}
.icon-truck-line:before {
  content: "\e91c";
}
.icon-truck-solid:before {
  content: "\e91d";
}
.icon-align-bottom-line:before {
  content: "\e91e";
}
.icon-align-center-line:before {
  content: "\e91f";
}
.icon-align-left-line:before {
  content: "\e920";
}
.icon-align-left-text-line:before {
  content: "\e921";
}
.icon-align-middle-line:before {
  content: "\e922";
}
.icon-align-right-line:before {
  content: "\e923";
}
.icon-align-right-text-line:before {
  content: "\e924";
}
.icon-align-top-line:before {
  content: "\e925";
}
.icon-block-quote-line:before {
  content: "\e926";
}
.icon-bold-line:before {
  content: "\e927";
}
.icon-bullet-list-line:before {
  content: "\e928";
}
.icon-center-text-line:before {
  content: "\e929";
}
.icon-checkbox-list-line:before {
  content: "\e92a";
}
.icon-font-size-line:before {
  content: "\e92b";
}
.icon-highlighter-line:before {
  content: "\e92c";
}
.icon-indent-line:before {
  content: "\e92d";
}
.icon-italic-line:before {
  content: "\e92e";
}
.icon-justify-text-line:before {
  content: "\e92f";
}
.icon-language-line:before {
  content: "\e930";
}
.icon-language-solid:before {
  content: "\e931";
}
.icon-number-list-line:before {
  content: "\e932";
}
.icon-outdent-line:before {
  content: "\e933";
}
.icon-paint-roller-line:before {
  content: "\e934";
}
.icon-paint-roller-solid:before {
  content: "\e935";
}
.icon-strikethrough-line:before {
  content: "\e936";
}
.icon-subscript-line:before {
  content: "\e937";
}
.icon-superscript-line:before {
  content: "\e938";
}
.icon-text-color-line:before {
  content: "\e939";
}
.icon-text-line:before {
  content: "\e93a";
}
.icon-underline-line:before {
  content: "\e93b";
}
.icon-administrator-line:before {
  content: "\e93c";
}
.icon-administrator-solid:before {
  content: "\e93d";
}
.icon-application-line:before {
  content: "\e93e";
}
.icon-applications-line:before {
  content: "\e93f";
}
.icon-application-solid:before {
  content: "\e940";
}
.icon-applications-outline-alerted:before {
  content: "\e941";
}
.icon-applications-outline-badged:before {
  content: "\e942";
}
.icon-applications-solid:before {
  content: "\e943";
}
.icon-applications-solid-alerted:before {
  content: "\e944";
}
.icon-applications-solid-badged:before {
  content: "\e945";
}
.icon-archive-line:before {
  content: "\e946";
}
.icon-archive-solid:before {
  content: "\e947";
}
.icon-assign-user-line:before {
  content: "\e948";
}
.icon-assign-user-solid:before {
  content: "\e949";
}
.icon-atom-line:before {
  content: "\e94a";
}
.icon-atom-solid:before {
  content: "\e94b";
}
.icon-backup-line:before {
  content: "\e94c";
}
.icon-backup-outline-alerted:before {
  content: "\e94d";
}
.icon-backup-outline-badged:before {
  content: "\e94e";
}
.icon-backup-restore-line:before {
  content: "\e94f";
}
.icon-backup-restore-outline-alerted:before {
  content: "\e950";
}
.icon-backup-restore-outline-badged:before {
  content: "\e951";
}
.icon-backup-restore-solid:before {
  content: "\e952";
}
.icon-backup-restore-solid-alerted:before {
  content: "\e953";
}
.icon-backup-restore-solid-badged:before {
  content: "\e954";
}
.icon-backup-solid:before {
  content: "\e955";
}
.icon-backup-solid-alerted:before {
  content: "\e956";
}
.icon-backup-solid-badged:before {
  content: "\e957";
}
.icon-bar-code-line:before {
  content: "\e958";
}
.icon-battery-line:before {
  content: "\e959";
}
.icon-battery-outline-alerted:before {
  content: "\e95a";
}
.icon-battery-outline-badged:before {
  content: "\e95b";
}
.icon-battery-solid:before {
  content: "\e95c";
}
.icon-battery-solid-alerted:before {
  content: "\e95d";
}
.icon-battery-solid-badged:before {
  content: "\e95e";
}
.icon-block-line:before {
  content: "\e95f";
}
.icon-block-outline-alerted:before {
  content: "\e960";
}
.icon-block-outline-badged:before {
  content: "\e961";
}
.icon-blocks-group-line:before {
  content: "\e962";
}
.icon-blocks-group-outline-alerted:before {
  content: "\e963";
}
.icon-blocks-group-outline-badged:before {
  content: "\e964";
}
.icon-blocks-group-solid:before {
  content: "\e965";
}
.icon-blocks-group-solid-alerted:before {
  content: "\e966";
}
.icon-blocks-group-solid-badged:before {
  content: "\e967";
}
.icon-block-solid:before {
  content: "\e968";
}
.icon-block-solid-alerted:before {
  content: "\e969";
}
.icon-block-solid-badged:before {
  content: "\e96a";
}
.icon-bluetooth-line:before {
  content: "\e96b";
}
.icon-bluetooth-off-line:before {
  content: "\e96c";
}
.icon-bluetooth-off-solid:before {
  content: "\e96d";
}
.icon-bluetooth-solid:before {
  content: "\e96e";
}
.icon-building-line:before {
  content: "\e96f";
}
.icon-building-outline-alerted:before {
  content: "\e970";
}
.icon-building-outline-badged:before {
  content: "\e971";
}
.icon-building-solid:before {
  content: "\e972";
}
.icon-building-solid-alerted:before {
  content: "\e973";
}
.icon-building-solid-badged:before {
  content: "\e974";
}
.icon-bundle-line:before {
  content: "\e975";
}
.icon-bundle-solid:before {
  content: "\e976";
}
.icon-capacitor-line:before {
  content: "\e977";
}
.icon-cd-dvd-line:before {
  content: "\e978";
}
.icon-cd-dvd-solid:before {
  content: "\e979";
}
.icon-certificate-line:before {
  content: "\e97a";
}
.icon-certificate-outline-alerted:before {
  content: "\e97b";
}
.icon-certificate-outline-badged:before {
  content: "\e97c";
}
.icon-certificate-solid:before {
  content: "\e97d";
}
.icon-certificate-solid-alerted:before {
  content: "\e97e";
}
.icon-certificate-solid-badged:before {
  content: "\e97f";
}
.icon-cloud-network-line:before {
  content: "\e980";
}
.icon-cloud-scale-line:before {
  content: "\e981";
}
.icon-cloud-traffic-line:before {
  content: "\e982";
}
.icon-cluster-line:before {
  content: "\e983";
}
.icon-cluster-outline-alerted:before {
  content: "\e984";
}
.icon-cluster-outline-badged:before {
  content: "\e985";
}
.icon-cluster-solid:before {
  content: "\e986";
}
.icon-cluster-solid-alerted:before {
  content: "\e987";
}
.icon-cluster-solid-badged:before {
  content: "\e988";
}
.icon-code-line:before {
  content: "\e989";
}
.icon-code-outline-alerted:before {
  content: "\e98a";
}
.icon-code-outline-badged:before {
  content: "\e98b";
}
.icon-command-line:before {
  content: "\e98c";
}
.icon-command-outline-alerted:before {
  content: "\e98d";
}
.icon-command-outline-badged:before {
  content: "\e98e";
}
.icon-command-solid:before {
  content: "\e98f";
}
.icon-command-solid-alerted:before {
  content: "\e990";
}
.icon-command-solid-badged:before {
  content: "\e991";
}
.icon-computer-line:before {
  content: "\e992";
}
.icon-computer-outline-alerted:before {
  content: "\e993";
}
.icon-computer-outline-badged:before {
  content: "\e994";
}
.icon-computer-solid:before {
  content: "\e995";
}
.icon-computer-solid-alerted:before {
  content: "\e996";
}
.icon-computer-solid-badged:before {
  content: "\e997";
}
.icon-connect-line:before {
  content: "\e998";
}
.icon-connect-solid:before {
  content: "\e999";
}
.icon-container-line:before {
  content: "\e99a";
}
.icon-container-solid:before {
  content: "\e99b";
}
.icon-container-volume-line:before {
  content: "\e99c";
}
.icon-container-volume-solid:before {
  content: "\e99d";
}
.icon-cpu-line:before {
  content: "\e99e";
}
.icon-cpu-outline-alerted:before {
  content: "\e99f";
}
.icon-cpu-outline-badged:before {
  content: "\e9a0";
}
.icon-cpu-solid:before {
  content: "\e9a1";
}
.icon-cpu-solid-alerted:before {
  content: "\e9a2";
}
.icon-cpu-solid-badged:before {
  content: "\e9a3";
}
.icon-dashboard-line:before {
  content: "\e9a4";
}
.icon-dashboard-outline-badged:before {
  content: "\e9a5";
}
.icon-dashboard-solid:before {
  content: "\e9a6";
}
.icon-dashboard-solid-badged:before {
  content: "\e9a7";
}
.icon-data-cluster-line:before {
  content: "\e9a8";
}
.icon-data-cluster-outline-alerted:before {
  content: "\e9a9";
}
.icon-data-cluster-outline-badged:before {
  content: "\e9aa";
}
.icon-data-cluster-solid:before {
  content: "\e9ab";
}
.icon-data-cluster-solid-alerted:before {
  content: "\e9ac";
}
.icon-data-cluster-solid-badged:before {
  content: "\e9ad";
}
.icon-deploy-line:before {
  content: "\e9ae";
}
.icon-deploy-solid:before {
  content: "\e9af";
}
.icon-design-line:before {
  content: "\e9b0";
}
.icon-design-solid:before {
  content: "\e9b1";
}
.icon-devices-line:before {
  content: "\e9b2";
}
.icon-devices-solid:before {
  content: "\e9b3";
}
.icon-disconnected-line:before {
  content: "\e9b4";
}
.icon-disconnected-solid:before {
  content: "\e9b5";
}
.icon-disconnect-line:before {
  content: "\e9b6";
}
.icon-disconnect-solid:before {
  content: "\e9b7";
}
.icon-display-line:before {
  content: "\e9b8";
}
.icon-display-outline-alerted:before {
  content: "\e9b9";
}
.icon-display-outline-badged:before {
  content: "\e9ba";
}
.icon-display-solid:before {
  content: "\e9bb";
}
.icon-display-solid-alerted:before {
  content: "\e9bc";
}
.icon-display-solid-badged:before {
  content: "\e9bd";
}
.icon-dna-line:before {
  content: "\e9be";
}
.icon-dna-solid:before {
  content: "\e9bf";
}
.icon-download-cloud-line:before {
  content: "\e9c0";
}
.icon-download-cloud-outline-alerted:before {
  content: "\e9c1";
}
.icon-download-cloud-outline-badged:before {
  content: "\e9c2";
}
.icon-export-line:before {
  content: "\e9c3";
}
.icon-export-outline-alerted:before {
  content: "\e9c4";
}
.icon-export-outline-badged:before {
  content: "\e9c5";
}
.icon-export-solid:before {
  content: "\e9c6";
}
.icon-export-solid-alerted:before {
  content: "\e9c7";
}
.icon-export-solid-badged:before {
  content: "\e9c8";
}
.icon-file-share-line:before {
  content: "\e9c9";
}
.icon-file-share-solid:before {
  content: "\e9ca";
}
.icon-flask-line:before {
  content: "\e9cb";
}
.icon-flask-solid:before {
  content: "\e9cc";
}
.icon-floppy-line:before {
  content: "\e9cd";
}
.icon-floppy-outline-alerted:before {
  content: "\e9ce";
}
.icon-floppy-outline-badged:before {
  content: "\e9cf";
}
.icon-floppy-solid:before {
  content: "\e9d0";
}
.icon-floppy-solid-alerted:before {
  content: "\e9d1";
}
.icon-floppy-solid-badged:before {
  content: "\e9d2";
}
.icon-hard-disk-line:before {
  content: "\e9d3";
}
.icon-hard-disk-outline-alerted:before {
  content: "\e9d4";
}
.icon-hard-disk-outline-badged:before {
  content: "\e9d5";
}
.icon-hard-disk-solid:before {
  content: "\e9d6";
}
.icon-hard-disk-solid-alerted:before {
  content: "\e9d7";
}
.icon-hard-disk-solid-badged:before {
  content: "\e9d8";
}
.icon-hard-drive-disks-line:before {
  content: "\e9d9";
}
.icon-hard-drive-disks-solid:before {
  content: "\e9da";
}
.icon-hard-drive-line:before {
  content: "\e9db";
}
.icon-hard-drive-solid:before {
  content: "\e9dc";
}
.icon-helix-line:before {
  content: "\e9dd";
}
.icon-helix-solid:before {
  content: "\e9de";
}
.icon-host-group-line:before {
  content: "\e9df";
}
.icon-host-group-solid:before {
  content: "\e9e0";
}
.icon-host-line:before {
  content: "\e9e1";
}
.icon-host-outline-alerted:before {
  content: "\e9e2";
}
.icon-host-outline-badged:before {
  content: "\e9e3";
}
.icon-host-solid:before {
  content: "\e9e4";
}
.icon-host-solid-alerted:before {
  content: "\e9e5";
}
.icon-host-solid-badged:before {
  content: "\e9e6";
}
.icon-import-line:before {
  content: "\e9e7";
}
.icon-import-outline-alerted:before {
  content: "\e9e8";
}
.icon-import-outline-badged:before {
  content: "\e9e9";
}
.icon-import-solid:before {
  content: "\e9ea";
}
.icon-import-solid-alerted:before {
  content: "\e9eb";
}
.icon-import-solid-badged:before {
  content: "\e9ec";
}
.icon-inductor-line:before {
  content: "\e9ed";
}
.icon-install-line:before {
  content: "\e9ee";
}
.icon-install-outline-alerted:before {
  content: "\e9ef";
}
.icon-install-outline-badged:before {
  content: "\e9f0";
}
.icon-keyboard-line:before {
  content: "\e9f1";
}
.icon-keyboard-solid:before {
  content: "\e9f2";
}
.icon-layers-line:before {
  content: "\e9f3";
}
.icon-layers-solid:before {
  content: "\e9f4";
}
.icon-license-line:before {
  content: "\e9f5";
}
.icon-license-outline-alerted:before {
  content: "\e9f6";
}
.icon-license-outline-badged:before {
  content: "\e9f7";
}
.icon-license-solid:before {
  content: "\e9f8";
}
.icon-license-solid-alerted:before {
  content: "\e9f9";
}
.icon-license-solid-badged:before {
  content: "\e9fa";
}
.icon-link-line:before {
  content: "\e9fb";
}
.icon-memory-line:before {
  content: "\e9fc";
}
.icon-memory-outline-alerted:before {
  content: "\e9fd";
}
.icon-memory-outline-badged:before {
  content: "\e9fe";
}
.icon-memory-solid:before {
  content: "\e9ff";
}
.icon-memory-solid-alerted:before {
  content: "\ea00";
}
.icon-memory-solid-badged:before {
  content: "\ea01";
}
.icon-mobile-line:before {
  content: "\ea02";
}
.icon-mobile-phone-line:before {
  content: "\ea03";
}
.icon-mobile-phone-solid:before {
  content: "\ea04";
}
.icon-mobile-solid:before {
  content: "\ea05";
}
.icon-mouse-line:before {
  content: "\ea06";
}
.icon-mouse-solid:before {
  content: "\ea07";
}
.icon-namespace-line:before {
  content: "\ea08";
}
.icon-network-globe-line:before {
  content: "\ea09";
}
.icon-network-globe-outline-alerted:before {
  content: "\ea0a";
}
.icon-network-globe-outline-badged:before {
  content: "\ea0b";
}
.icon-network-globe-solid:before {
  content: "\ea0c";
}
.icon-network-globe-solid-alerted:before {
  content: "\ea0d";
}
.icon-network-globe-solid-badged:before {
  content: "\ea0e";
}
.icon-network-settings-line:before {
  content: "\ea0f";
}
.icon-network-settings-solid:before {
  content: "\ea10";
}
.icon-network-switch-line:before {
  content: "\ea11";
}
.icon-network-switch-outline-alerted:before {
  content: "\ea12";
}
.icon-network-switch-outline-badged:before {
  content: "\ea13";
}
.icon-network-switch-solid:before {
  content: "\ea14";
}
.icon-network-switch-solid-alerted:before {
  content: "\ea15";
}
.icon-network-switch-solid-badged:before {
  content: "\ea16";
}
.icon-node-group-line:before {
  content: "\ea17";
}
.icon-node-line:before {
  content: "\ea18";
}
.icon-nodes-line:before {
  content: "\ea19";
}
.icon-no-wifi-line:before {
  content: "\ea1a";
}
.icon-no-wifi-solid:before {
  content: "\ea1b";
}
.icon-nvme-line:before {
  content: "\ea1c";
}
.icon-phone-handset-line:before {
  content: "\ea1d";
}
.icon-phone-handset-solid:before {
  content: "\ea1e";
}
.icon-plugin-line:before {
  content: "\ea1f";
}
.icon-plugin-outline-alerted:before {
  content: "\ea20";
}
.icon-plugin-outline-badged:before {
  content: "\ea21";
}
.icon-plugin-solid:before {
  content: "\ea22";
}
.icon-plugin-solid-alerted:before {
  content: "\ea23";
}
.icon-plugin-solid-badged:before {
  content: "\ea24";
}
.icon-pod-line:before {
  content: "\ea25";
}
.icon-process-on-vm-line:before {
  content: "\ea26";
}
.icon-qr-code-line:before {
  content: "\ea27";
}
.icon-rack-server-line:before {
  content: "\ea28";
}
.icon-rack-server-outline-alerted:before {
  content: "\ea29";
}
.icon-rack-server-outline-badged:before {
  content: "\ea2a";
}
.icon-rack-server-solid:before {
  content: "\ea2b";
}
.icon-rack-server-solid-alerted:before {
  content: "\ea2c";
}
.icon-rack-server-solid-badged:before {
  content: "\ea2d";
}
.icon-radar-line:before {
  content: "\ea2e";
}
.icon-radar-solid:before {
  content: "\ea2f";
}
.icon-receiver-line:before {
  content: "\ea30";
}
.icon-receiver-solid:before {
  content: "\ea31";
}
.icon-resistor-line:before {
  content: "\ea32";
}
.icon-resource-pool-line:before {
  content: "\ea33";
}
.icon-resource-pool-outline-alerted:before {
  content: "\ea34";
}
.icon-resource-pool-outline-badged:before {
  content: "\ea35";
}
.icon-resource-pool-solid:before {
  content: "\ea36";
}
.icon-resource-pool-solid-alerted:before {
  content: "\ea37";
}
.icon-resource-pool-solid-badged:before {
  content: "\ea38";
}
.icon-router-line:before {
  content: "\ea39";
}
.icon-router-outline-alerted:before {
  content: "\ea3a";
}
.icon-router-outline-badged:before {
  content: "\ea3b";
}
.icon-router-solid:before {
  content: "\ea3c";
}
.icon-router-solid-alerted:before {
  content: "\ea3d";
}
.icon-router-solid-badged:before {
  content: "\ea3e";
}
.icon-ruler-pencil-line:before {
  content: "\ea3f";
}
.icon-ruler-pencil-solid:before {
  content: "\ea40";
}
.icon-server-line:before {
  content: "\ea41";
}
.icon-server-outline-alerted:before {
  content: "\ea42";
}
.icon-server-outline-badged:before {
  content: "\ea43";
}
.icon-server-solid:before {
  content: "\ea44";
}
.icon-server-solid-alerted:before {
  content: "\ea45";
}
.icon-server-solid-badged:before {
  content: "\ea46";
}
.icon-shield-check-line:before {
  content: "\ea47";
}
.icon-shield-check-solid:before {
  content: "\ea48";
}
.icon-shield-line:before {
  content: "\ea49";
}
.icon-shield-outline-alerted:before {
  content: "\ea4a";
}
.icon-shield-outline-badged:before {
  content: "\ea4b";
}
.icon-shield-solid:before {
  content: "\ea4c";
}
.icon-shield-solid-alerted:before {
  content: "\ea4d";
}
.icon-shield-solid-badged:before {
  content: "\ea4e";
}
.icon-shield-x-line:before {
  content: "\ea4f";
}
.icon-shield-x-solid:before {
  content: "\ea50";
}
.icon-squid-line:before {
  content: "\ea51";
}
.icon-ssd-line:before {
  content: "\ea52";
}
.icon-ssd-solid:before {
  content: "\ea53";
}
.icon-storage-adapter-line:before {
  content: "\ea54";
}
.icon-storage-line:before {
  content: "\ea55";
}
.icon-storage-outline-alerted:before {
  content: "\ea56";
}
.icon-storage-outline-badged:before {
  content: "\ea57";
}
.icon-storage-solid:before {
  content: "\ea58";
}
.icon-storage-solid-alerted:before {
  content: "\ea59";
}
.icon-storage-solid-badged:before {
  content: "\ea5a";
}
.icon-tablet-line:before {
  content: "\ea5b";
}
.icon-tablet-solid:before {
  content: "\ea5c";
}
.icon-terminal-line:before {
  content: "\ea5d";
}
.icon-terminal-outline-alerted:before {
  content: "\ea5e";
}
.icon-terminal-outline-badged:before {
  content: "\ea5f";
}
.icon-terminal-solid:before {
  content: "\ea60";
}
.icon-terminal-solid-alerted:before {
  content: "\ea61";
}
.icon-terminal-solid-badged:before {
  content: "\ea62";
}
.icon-unarchive-line:before {
  content: "\ea63";
}
.icon-unarchive-solid:before {
  content: "\ea64";
}
.icon-uninstall-line:before {
  content: "\ea65";
}
.icon-uninstall-outline-alerted:before {
  content: "\ea66";
}
.icon-uninstall-outline-badged:before {
  content: "\ea67";
}
.icon-unlink-line:before {
  content: "\ea68";
}
.icon-upload-cloud-line:before {
  content: "\ea69";
}
.icon-upload-cloud-outline-alerted:before {
  content: "\ea6a";
}
.icon-upload-cloud-outline-badged:before {
  content: "\ea6b";
}
.icon-usb-line:before {
  content: "\ea6c";
}
.icon-usb-solid:before {
  content: "\ea6d";
}
.icon-vm-line:before {
  content: "\ea6e";
}
.icon-vm-outline-alerted:before {
  content: "\ea6f";
}
.icon-vm-outline-badged:before {
  content: "\ea70";
}
.icon-vm-solid:before {
  content: "\ea71";
}
.icon-vm-solid-alerted:before {
  content: "\ea72";
}
.icon-vm-solid-badged:before {
  content: "\ea73";
}
.icon-vmw-app-line:before {
  content: "\ea74";
}
.icon-vmw-app-outline-alerted:before {
  content: "\ea75";
}
.icon-vmw-app-outline-badged:before {
  content: "\ea76";
}
.icon-wifi-line:before {
  content: "\ea77";
}
.icon-wifi-solid:before {
  content: "\ea78";
}
.icon-bookmark-line:before {
  content: "\ea79";
}
.icon-bookmark-solid:before {
  content: "\ea7a";
}
.icon-calendar-line:before {
  content: "\ea7b";
}
.icon-calendar-outline-alerted:before {
  content: "\ea7c";
}
.icon-calendar-outline-badged:before {
  content: "\ea7d";
}
.icon-calendar-solid:before {
  content: "\ea7e";
}
.icon-calendar-solid-alerted:before {
  content: "\ea7f";
}
.icon-calendar-solid-badged:before {
  content: "\ea80";
}
.icon-chat-bubble-line:before {
  content: "\ea81";
}
.icon-chat-bubble-outline-badged:before {
  content: "\ea82";
}
.icon-chat-bubble-solid:before {
  content: "\ea83";
}
.icon-chat-bubble-solid-badged:before {
  content: "\ea84";
}
.icon-date-line:before {
  content: "\ea85";
}
.icon-date-outline-alerted:before {
  content: "\ea86";
}
.icon-date-outline-badged:before {
  content: "\ea87";
}
.icon-date-solid:before {
  content: "\ea88";
}
.icon-date-solid-alerted:before {
  content: "\ea89";
}
.icon-date-solid-badged:before {
  content: "\ea8a";
}
.icon-email-line:before {
  content: "\ea8b";
}
.icon-email-outline-alerted:before {
  content: "\ea8c";
}
.icon-email-outline-badged:before {
  content: "\ea8d";
}
.icon-email-solid:before {
  content: "\ea8e";
}
.icon-email-solid-alerted:before {
  content: "\ea8f";
}
.icon-email-solid-badged:before {
  content: "\ea90";
}
.icon-envelope-line:before {
  content: "\ea91";
}
.icon-envelope-outline-alerted:before {
  content: "\ea92";
}
.icon-envelope-outline-badged:before {
  content: "\ea93";
}
.icon-envelope-solid:before {
  content: "\ea94";
}
.icon-envelope-solid-alerted:before {
  content: "\ea95";
}
.icon-envelope-solid-badged:before {
  content: "\ea96";
}
.icon-event-line:before {
  content: "\ea97";
}
.icon-event-outline-alerted:before {
  content: "\ea98";
}
.icon-event-outline-badged:before {
  content: "\ea99";
}
.icon-event-solid:before {
  content: "\ea9a";
}
.icon-event-solid-alerted:before {
  content: "\ea9b";
}
.icon-event-solid-badged:before {
  content: "\ea9c";
}
.icon-favorite-line:before {
  content: "\ea9d";
}
.icon-favorite-solid:before {
  content: "\ea9e";
}
.icon-flag-line:before {
  content: "\ea9f";
}
.icon-flag-solid:before {
  content: "\eaa0";
}
.icon-half-star-line:before {
  content: "\eaa1";
}
.icon-half-star-solid:before {
  content: "\eaa2";
}
.icon-happy-face-line:before {
  content: "\eaa3";
}
.icon-happy-face-solid:before {
  content: "\eaa4";
}
.icon-heart-broken-line:before {
  content: "\eaa5";
}
.icon-heart-broken-solid:before {
  content: "\eaa6";
}
.icon-heart-line:before {
  content: "\eaa7";
}
.icon-heart-solid:before {
  content: "\eaa8";
}
.icon-inbox-line:before {
  content: "\eaa9";
}
.icon-inbox-outline-badged:before {
  content: "\eaaa";
}
.icon-neutral-face-line:before {
  content: "\eaab";
}
.icon-neutral-face-solid:before {
  content: "\eaac";
}
.icon-picture-line:before {
  content: "\eaad";
}
.icon-picture-outline-badged:before {
  content: "\eaae";
}
.icon-picture-solid:before {
  content: "\eaaf";
}
.icon-picture-solid-badged:before {
  content: "\eab0";
}
.icon-sad-face-line:before {
  content: "\eab1";
}
.icon-sad-face-solid:before {
  content: "\eab2";
}
.icon-share-line:before {
  content: "\eab3";
}
.icon-share-solid:before {
  content: "\eab4";
}
.icon-star-line:before {
  content: "\eab5";
}
.icon-star-solid:before {
  content: "\eab6";
}
.icon-talk-bubbles-line:before {
  content: "\eab7";
}
.icon-talk-bubbles-outline-badged:before {
  content: "\eab8";
}
.icon-talk-bubbles-solid:before {
  content: "\eab9";
}
.icon-talk-bubbles-solid-badged:before {
  content: "\eaba";
}
.icon-tasks-line:before {
  content: "\eabb";
}
.icon-tasks-outline-alerted:before {
  content: "\eabc";
}
.icon-tasks-outline-badged:before {
  content: "\eabd";
}
.icon-tasks-solid:before {
  content: "\eabe";
}
.icon-tasks-solid-alerted:before {
  content: "\eabf";
}
.icon-tasks-solid-badged:before {
  content: "\eac0";
}
.icon-thumbs-down-line:before {
  content: "\eac1";
}
.icon-thumbs-down-solid:before {
  content: "\eac2";
}
.icon-thumbs-up-line:before {
  content: "\eac3";
}
.icon-thumbs-up-solid:before {
  content: "\eac4";
}
.icon-camera-line:before {
  content: "\eac5";
}
.icon-camera-solid:before {
  content: "\eac6";
}
.icon-fast-forward-line:before {
  content: "\eac7";
}
.icon-fast-forward-solid:before {
  content: "\eac8";
}
.icon-film-strip-line:before {
  content: "\eac9";
}
.icon-film-strip-solid:before {
  content: "\eaca";
}
.icon-headphones-line:before {
  content: "\eacb";
}
.icon-headphones-solid:before {
  content: "\eacc";
}
.icon-image-gallery-line:before {
  content: "\eacd";
}
.icon-image-gallery-solid:before {
  content: "\eace";
}
.icon-microphone-line:before {
  content: "\eacf";
}
.icon-microphone-mute-line:before {
  content: "\ead0";
}
.icon-microphone-mute-solid:before {
  content: "\ead1";
}
.icon-microphone-solid:before {
  content: "\ead2";
}
.icon-music-note-line:before {
  content: "\ead3";
}
.icon-music-note-solid:before {
  content: "\ead4";
}
.icon-pause-line:before {
  content: "\ead5";
}
.icon-pause-solid:before {
  content: "\ead6";
}
.icon-play-line:before {
  content: "\ead7";
}
.icon-play-solid:before {
  content: "\ead8";
}
.icon-power-line:before {
  content: "\ead9";
}
.icon-power-outline-alerted:before {
  content: "\eada";
}
.icon-power-outline-badged:before {
  content: "\eadb";
}
.icon-power-solid:before {
  content: "\eadc";
}
.icon-power-solid-alerted:before {
  content: "\eadd";
}
.icon-power-solid-badged:before {
  content: "\eade";
}
.icon-replay-all-line:before {
  content: "\eadf";
}
.icon-replay-one-line:before {
  content: "\eae0";
}
.icon-rewind-line:before {
  content: "\eae1";
}
.icon-rewind-solid:before {
  content: "\eae2";
}
.icon-shuffle-line:before {
  content: "\eae3";
}
.icon-step-forward-line:before {
  content: "\eae4";
}
.icon-step-forward-solid:before {
  content: "\eae5";
}
.icon-stop-line:before {
  content: "\eae6";
}
.icon-stop-solid:before {
  content: "\eae7";
}
.icon-video-camera-line:before {
  content: "\eae8";
}
.icon-video-camera-solid:before {
  content: "\eae9";
}
.icon-video-gallery-line:before {
  content: "\eaea";
}
.icon-video-gallery-solid:before {
  content: "\eaeb";
}
.icon-volume-down-line:before {
  content: "\eaec";
}
.icon-volume-down-solid:before {
  content: "\eaed";
}
.icon-volume-mute-line:before {
  content: "\eaee";
}
.icon-volume-mute-solid:before {
  content: "\eaef";
}
.icon-volume-up-line:before {
  content: "\eaf0";
}
.icon-volume-up-solid:before {
  content: "\eaf1";
}
.icon-accessibility-1-line:before {
  content: "\eaf2";
}
.icon-accessibility-1-solid:before {
  content: "\eaf3";
}
.icon-accessibility-2-line:before {
  content: "\eaf4";
}
.icon-accessibility-2-solid:before {
  content: "\eaf5";
}
.icon-add-line:before {
  content: "\eaf6";
}
.icon-add-text-line:before {
  content: "\eaf7";
}
.icon-alarm-clock-line:before {
  content: "\eaf8";
}
.icon-alarm-clock-outline-alerted:before {
  content: "\eaf9";
}
.icon-alarm-clock-outline-badged:before {
  content: "\eafa";
}
.icon-alarm-clock-solid:before {
  content: "\eafb";
}
.icon-alarm-clock-solid-alerted:before {
  content: "\eafc";
}
.icon-alarm-clock-solid-badged:before {
  content: "\eafd";
}
.icon-alarm-off-line:before {
  content: "\eafe";
}
.icon-alarm-off-solid:before {
  content: "\eaff";
}
.icon-alert-line:before {
  content: "\eb00";
}
.icon-alert-solid:before {
  content: "\eb01";
}
.icon-arrow-line:before {
  content: "\eb02";
}
.icon-asterisk-line:before {
  content: "\eb03";
}
.icon-asterisk-solid:before {
  content: "\eb04";
}
.icon-attachment-line:before {
  content: "\eb05";
}
.icon-balance-line:before {
  content: "\eb06";
}
.icon-ban-line:before {
  content: "\eb07";
}
.icon-beta-line:before {
  content: "\eb08";
}
.icon-beta-solid:before {
  content: "\eb09";
}
.icon-bolt-line:before {
  content: "\eb0a";
}
.icon-bolt-solid:before {
  content: "\eb0b";
}
.icon-book-line:before {
  content: "\eb0c";
}
.icon-book-solid:before {
  content: "\eb0d";
}
.icon-briefcase-line:before {
  content: "\eb0e";
}
.icon-briefcase-solid:before {
  content: "\eb0f";
}
.icon-bubble-exclamation-line:before {
  content: "\eb10";
}
.icon-bubble-exclamation-solid:before {
  content: "\eb11";
}
.icon-bug-line:before {
  content: "\eb12";
}
.icon-bug-solid:before {
  content: "\eb13";
}
.icon-bullseye-line:before {
  content: "\eb14";
}
.icon-bullseye-solid:before {
  content: "\eb15";
}
.icon-cancel-line:before {
  content: "\eb16";
}
.icon-child-arrow-line:before {
  content: "\eb17";
}
.icon-circle-arrow-line:before {
  content: "\eb18";
}
.icon-circle-arrow-solid:before {
  content: "\eb19";
}
.icon-circle-line:before {
  content: "\eb1a";
}
.icon-circle-solid:before {
  content: "\eb1b";
}
.icon-clipboard-line:before {
  content: "\eb1c";
}
.icon-clipboard-outline-badged:before {
  content: "\eb1d";
}
.icon-clipboard-solid:before {
  content: "\eb1e";
}
.icon-clipboard-solid-badged:before {
  content: "\eb1f";
}
.icon-clock-line:before {
  content: "\eb20";
}
.icon-clock-outline-alerted:before {
  content: "\eb21";
}
.icon-clock-outline-badged:before {
  content: "\eb22";
}
.icon-clock-solid:before {
  content: "\eb23";
}
.icon-clock-solid-alerted:before {
  content: "\eb24";
}
.icon-clock-solid-badged:before {
  content: "\eb25";
}
.icon-clone-line:before {
  content: "\eb26";
}
.icon-clone-solid:before {
  content: "\eb27";
}
.icon-collapse-card-line:before {
  content: "\eb28";
}
.icon-collapse-card-solid:before {
  content: "\eb29";
}
.icon-color-picker-line:before {
  content: "\eb2a";
}
.icon-color-picker-solid:before {
  content: "\eb2b";
}
.icon-copy-line:before {
  content: "\eb2c";
}
.icon-copy-solid:before {
  content: "\eb2d";
}
.icon-copy-to-clipboard-line:before {
  content: "\eb2e";
}
.icon-crosshairs-line:before {
  content: "\eb2f";
}
.icon-cursor-arrow-line:before {
  content: "\eb30";
}
.icon-cursor-arrow-solid:before {
  content: "\eb31";
}
.icon-cursor-hand-click-line:before {
  content: "\eb32";
}
.icon-cursor-hand-grab-line:before {
  content: "\eb33";
}
.icon-cursor-hand-line:before {
  content: "\eb34";
}
.icon-cursor-hand-open-line:before {
  content: "\eb35";
}
.icon-cursor-hand-solid:before {
  content: "\eb36";
}
.icon-cursor-move-line:before {
  content: "\eb37";
}
.icon-details-line:before {
  content: "\eb38";
}
.icon-details-solid:before {
  content: "\eb39";
}
.icon-document-line:before {
  content: "\eb3a";
}
.icon-document-outline-alerted:before {
  content: "\eb3b";
}
.icon-document-outline-badged:before {
  content: "\eb3c";
}
.icon-document-solid:before {
  content: "\eb3d";
}
.icon-document-solid-alerted:before {
  content: "\eb3e";
}
.icon-document-solid-badged:before {
  content: "\eb3f";
}
.icon-dot-circle-line:before {
  content: "\eb40";
}
.icon-download-line:before {
  content: "\eb41";
}
.icon-download-outline-alerted:before {
  content: "\eb42";
}
.icon-download-outline-badged:before {
  content: "\eb43";
}
.icon-drag-handle-corner-line:before {
  content: "\eb44";
}
.icon-drag-handle-line:before {
  content: "\eb45";
}
.icon-edit-line:before {
  content: "\eb46";
}
.icon-edit-solid:before {
  content: "\eb47";
}
.icon-eraser-line:before {
  content: "\eb48";
}
.icon-eraser-solid:before {
  content: "\eb49";
}
.icon-expand-card-line:before {
  content: "\eb4a";
}
.icon-expand-card-solid:before {
  content: "\eb4b";
}
.icon-eye-hide-line:before {
  content: "\eb4c";
}
.icon-eye-hide-solid:before {
  content: "\eb4d";
}
.icon-eye-line:before {
  content: "\eb4e";
}
.icon-eye-show-line:before {
  content: "\eb4f";
}
.icon-eye-show-solid:before {
  content: "\eb50";
}
.icon-eye-solid:before {
  content: "\eb51";
}
.icon-file-group-line:before {
  content: "\eb52";
}
.icon-file-group-solid:before {
  content: "\eb53";
}
.icon-file-line:before {
  content: "\eb54";
}
.icon-file-outline-alerted:before {
  content: "\eb55";
}
.icon-file-outline-badged:before {
  content: "\eb56";
}
.icon-file-settings-line:before {
  content: "\eb57";
}
.icon-file-settings-outline-alerted:before {
  content: "\eb58";
}
.icon-file-settings-outline-badged:before {
  content: "\eb59";
}
.icon-file-settings-solid:before {
  content: "\eb5a";
}
.icon-file-settings-solid-alerted:before {
  content: "\eb5b";
}
.icon-file-settings-solid-badged:before {
  content: "\eb5c";
}
.icon-file-solid:before {
  content: "\eb5d";
}
.icon-file-solid-alerted:before {
  content: "\eb5e";
}
.icon-file-solid-badged:before {
  content: "\eb5f";
}
.icon-file-zip-line:before {
  content: "\eb60";
}
.icon-file-zip-solid:before {
  content: "\eb61";
}
.icon-filter-2-line:before {
  content: "\eb62";
}
.icon-filter-line:before {
  content: "\eb63";
}
.icon-filter-off-line:before {
  content: "\eb64";
}
.icon-filter-off-solid:before {
  content: "\eb65";
}
.icon-filter-solid:before {
  content: "\eb66";
}
.icon-firewall-line:before {
  content: "\eb67";
}
.icon-firewall-outline-alerted:before {
  content: "\eb68";
}
.icon-firewall-outline-badged:before {
  content: "\eb69";
}
.icon-firewall-solid:before {
  content: "\eb6a";
}
.icon-firewall-solid-alerted:before {
  content: "\eb6b";
}
.icon-firewall-solid-badged:before {
  content: "\eb6c";
}
.icon-fish-line:before {
  content: "\eb6d";
}
.icon-flame-line:before {
  content: "\eb6e";
}
.icon-flame-solid:before {
  content: "\eb6f";
}
.icon-flow-chart-line:before {
  content: "\eb70";
}
.icon-flow-chart-solid:before {
  content: "\eb71";
}
.icon-form-line:before {
  content: "\eb72";
}
.icon-fuel-line:before {
  content: "\eb73";
}
.icon-grid-view-line:before {
  content: "\eb74";
}
.icon-grid-view-solid:before {
  content: "\eb75";
}
.icon-group-line:before {
  content: "\eb76";
}
.icon-group-outline-alerted:before {
  content: "\eb77";
}
.icon-group-outline-badged:before {
  content: "\eb78";
}
.icon-group-solid:before {
  content: "\eb79";
}
.icon-group-solid-alerted:before {
  content: "\eb7a";
}
.icon-group-solid-badged:before {
  content: "\eb7b";
}
.icon-help-line:before {
  content: "\eb7c";
}
.icon-help-outline-badged:before {
  content: "\eb7d";
}
.icon-help-solid:before {
  content: "\eb7e";
}
.icon-help-solid-badged:before {
  content: "\eb7f";
}
.icon-history-line:before {
  content: "\eb80";
}
.icon-hourglass-line:before {
  content: "\eb81";
}
.icon-hourglass-outline-alerted:before {
  content: "\eb82";
}
.icon-hourglass-outline-badged:before {
  content: "\eb83";
}
.icon-hourglass-solid:before {
  content: "\eb84";
}
.icon-hourglass-solid-alerted:before {
  content: "\eb85";
}
.icon-hourglass-solid-badged:before {
  content: "\eb86";
}
.icon-id-badge-line:before {
  content: "\eb87";
}
.icon-id-badge-outline-alerted:before {
  content: "\eb88";
}
.icon-id-badge-outline-badged:before {
  content: "\eb89";
}
.icon-id-badge-solid:before {
  content: "\eb8a";
}
.icon-id-badge-solid-alerted:before {
  content: "\eb8b";
}
.icon-id-badge-solid-badged:before {
  content: "\eb8c";
}
.icon-key-line:before {
  content: "\eb8d";
}
.icon-key-outline-alerted:before {
  content: "\eb8e";
}
.icon-key-outline-badged:before {
  content: "\eb8f";
}
.icon-key-solid:before {
  content: "\eb90";
}
.icon-key-solid-alerted:before {
  content: "\eb91";
}
.icon-key-solid-badged:before {
  content: "\eb92";
}
.icon-landscape-line:before {
  content: "\eb93";
}
.icon-landscape-solid:before {
  content: "\eb94";
}
.icon-library-line:before {
  content: "\eb95";
}
.icon-library-solid:before {
  content: "\eb96";
}
.icon-lightbulb-line:before {
  content: "\eb97";
}
.icon-lightbulb-outline-badged:before {
  content: "\eb98";
}
.icon-lightbulb-solid:before {
  content: "\eb99";
}
.icon-lightbulb-solid-badged:before {
  content: "\eb9a";
}
.icon-lightning-line:before {
  content: "\eb9b";
}
.icon-lightning-solid:before {
  content: "\eb9c";
}
.icon-list-line:before {
  content: "\eb9d";
}
.icon-list-outline-badged:before {
  content: "\eb9e";
}
.icon-list-solid:before {
  content: "\eb9f";
}
.icon-list-solid-badged:before {
  content: "\eba0";
}
.icon-lock-line:before {
  content: "\eba1";
}
.icon-lock-solid:before {
  content: "\eba2";
}
.icon-login-line:before {
  content: "\eba3";
}
.icon-login-solid:before {
  content: "\eba4";
}
.icon-logout-line:before {
  content: "\eba5";
}
.icon-logout-solid:before {
  content: "\eba6";
}
.icon-minus-circle-line:before {
  content: "\eba7";
}
.icon-minus-circle-solid:before {
  content: "\eba8";
}
.icon-minus-line:before {
  content: "\eba9";
}
.icon-moon-line:before {
  content: "\ebaa";
}
.icon-moon-solid:before {
  content: "\ebab";
}
.icon-new-line:before {
  content: "\ebac";
}
.icon-new-solid:before {
  content: "\ebad";
}
.icon-no-access-line:before {
  content: "\ebae";
}
.icon-no-access-solid:before {
  content: "\ebaf";
}
.icon-note-edit-line:before {
  content: "\ebb0";
}
.icon-note-edit-solid:before {
  content: "\ebb1";
}
.icon-note-line:before {
  content: "\ebb2";
}
.icon-note-solid:before {
  content: "\ebb3";
}
.icon-objects-line:before {
  content: "\ebb4";
}
.icon-objects-solid:before {
  content: "\ebb5";
}
.icon-organization-line:before {
  content: "\ebb6";
}
.icon-organization-solid:before {
  content: "\ebb7";
}
.icon-paperclip-line:before {
  content: "\ebb8";
}
.icon-paste-line:before {
  content: "\ebb9";
}
.icon-paste-solid:before {
  content: "\ebba";
}
.icon-pencil-line:before {
  content: "\ebbb";
}
.icon-pencil-solid:before {
  content: "\ebbc";
}
.icon-pinboard-line:before {
  content: "\ebbd";
}
.icon-pinboard-solid:before {
  content: "\ebbe";
}
.icon-pin-line:before {
  content: "\ebbf";
}
.icon-pinned-line:before {
  content: "\ebc0";
}
.icon-pinned-solid:before {
  content: "\ebc1";
}
.icon-pin-solid:before {
  content: "\ebc2";
}
.icon-plus-circle-line:before {
  content: "\ebc3";
}
.icon-plus-circle-solid:before {
  content: "\ebc4";
}
.icon-plus-line:before {
  content: "\ebc5";
}
.icon-pop-out-line:before {
  content: "\ebc6";
}
.icon-portrait-line:before {
  content: "\ebc7";
}
.icon-portrait-solid:before {
  content: "\ebc8";
}
.icon-printer-line:before {
  content: "\ebc9";
}
.icon-printer-outline-alerted:before {
  content: "\ebca";
}
.icon-printer-outline-badged:before {
  content: "\ebcb";
}
.icon-printer-solid:before {
  content: "\ebcc";
}
.icon-printer-solid-alerted:before {
  content: "\ebcd";
}
.icon-printer-solid-badged:before {
  content: "\ebce";
}
.icon-recycle-line:before {
  content: "\ebcf";
}
.icon-recycle-solid:before {
  content: "\ebd0";
}
.icon-redo-line:before {
  content: "\ebd1";
}
.icon-refresh-line:before {
  content: "\ebd2";
}
.icon-remove-line:before {
  content: "\ebd3";
}
.icon-remove-solid:before {
  content: "\ebd4";
}
.icon-repeat-line:before {
  content: "\ebd5";
}
.icon-resize-down-line:before {
  content: "\ebd6";
}
.icon-resize-line:before {
  content: "\ebd7";
}
.icon-resize-up-line:before {
  content: "\ebd8";
}
.icon-scissors-line:before {
  content: "\ebd9";
}
.icon-scissors-solid:before {
  content: "\ebda";
}
.icon-scroll-line:before {
  content: "\ebdb";
}
.icon-scroll-outline-alerted:before {
  content: "\ebdc";
}
.icon-scroll-outline-badged:before {
  content: "\ebdd";
}
.icon-scroll-solid:before {
  content: "\ebde";
}
.icon-scroll-solid-alerted:before {
  content: "\ebdf";
}
.icon-scroll-solid-badged:before {
  content: "\ebe0";
}
.icon-shrink-line:before {
  content: "\ebe1";
}
.icon-sign-in-line:before {
  content: "\ebe2";
}
.icon-sign-in-solid:before {
  content: "\ebe3";
}
.icon-sign-out-line:before {
  content: "\ebe4";
}
.icon-sign-out-solid:before {
  content: "\ebe5";
}
.icon-slider-line:before {
  content: "\ebe6";
}
.icon-slider-solid:before {
  content: "\ebe7";
}
.icon-snowflake-line:before {
  content: "\ebe8";
}
.icon-sort-by-line:before {
  content: "\ebe9";
}
.icon-sun-line:before {
  content: "\ebea";
}
.icon-sun-solid:before {
  content: "\ebeb";
}
.icon-switch-line:before {
  content: "\ebec";
}
.icon-sync-line:before {
  content: "\ebed";
}
.icon-table-line:before {
  content: "\ebee";
}
.icon-tag-line:before {
  content: "\ebef";
}
.icon-tag-outline-alerted:before {
  content: "\ebf0";
}
.icon-tag-outline-badged:before {
  content: "\ebf1";
}
.icon-tags-line:before {
  content: "\ebf2";
}
.icon-tag-solid:before {
  content: "\ebf3";
}
.icon-tag-solid-alerted:before {
  content: "\ebf4";
}
.icon-tag-solid-badged:before {
  content: "\ebf5";
}
.icon-tags-outline-alerted:before {
  content: "\ebf6";
}
.icon-tags-outline-badged:before {
  content: "\ebf7";
}
.icon-tags-solid:before {
  content: "\ebf8";
}
.icon-tags-solid-alerted:before {
  content: "\ebf9";
}
.icon-tags-solid-badged:before {
  content: "\ebfa";
}
.icon-target-line:before {
  content: "\ebfb";
}
.icon-target-solid:before {
  content: "\ebfc";
}
.icon-thermometer-line:before {
  content: "\ebfd";
}
.icon-times-circle-line:before {
  content: "\ebfe";
}
.icon-times-circle-solid:before {
  content: "\ebff";
}
.icon-tools-line:before {
  content: "\ec00";
}
.icon-tools-solid:before {
  content: "\ec01";
}
.icon-trash-line:before {
  content: "\ec02";
}
.icon-trash-solid:before {
  content: "\ec03";
}
.icon-tree-line:before {
  content: "\ec04";
}
.icon-tree-solid:before {
  content: "\ec05";
}
.icon-tree-view-line:before {
  content: "\ec06";
}
.icon-tree-view-solid:before {
  content: "\ec07";
}
.icon-two-way-arrows-line:before {
  content: "\ec08";
}
.icon-undo-line:before {
  content: "\ec09";
}
.icon-unlock-line:before {
  content: "\ec0a";
}
.icon-unlock-solid:before {
  content: "\ec0b";
}
.icon-upload-line:before {
  content: "\ec0c";
}
.icon-upload-outline-alerted:before {
  content: "\ec0d";
}
.icon-upload-outline-badged:before {
  content: "\ec0e";
}
.icon-users-line:before {
  content: "\ec0f";
}
.icon-users-outline-alerted:before {
  content: "\ec10";
}
.icon-users-outline-badged:before {
  content: "\ec11";
}
.icon-users-solid:before {
  content: "\ec12";
}
.icon-users-solid-alerted:before {
  content: "\ec13";
}
.icon-users-solid-badged:before {
  content: "\ec14";
}
.icon-view-cards-line:before {
  content: "\ec15";
}
.icon-view-list-line:before {
  content: "\ec16";
}
.icon-volume-line:before {
  content: "\ec17";
}
.icon-wand-line:before {
  content: "\ec18";
}
.icon-window-close-line:before {
  content: "\ec19";
}
.icon-window-max-line:before {
  content: "\ec1a";
}
.icon-window-min-line:before {
  content: "\ec1b";
}
.icon-window-restore-line:before {
  content: "\ec1c";
}
.icon-world-line:before {
  content: "\ec1d";
}
.icon-world-outline-badged:before {
  content: "\ec1e";
}
.icon-world-solid:before {
  content: "\ec1f";
}
.icon-world-solid-badged:before {
  content: "\ec20";
}
.icon-wrench-line:before {
  content: "\ec21";
}
.icon-wrench-solid:before {
  content: "\ec22";
}
.icon-zoom-in-line:before {
  content: "\ec23";
}
.icon-zoom-out-line:before {
  content: "\ec24";
}
.icon-angle-double-line:before {
  content: "\ec25";
}
.icon-angle-line:before {
  content: "\ec26";
}
.icon-avatar-line:before {
  content: "\ec27";
}
.icon-avatar-outline-alerted:before {
  content: "\ec28";
}
.icon-avatar-outline-badged:before {
  content: "\ec29";
}
.icon-avatar-solid:before {
  content: "\ec2a";
}
.icon-avatar-solid-alerted:before {
  content: "\ec2b";
}
.icon-avatar-solid-badged:before {
  content: "\ec2c";
}
.icon-bars-line:before {
  content: "\ec2d";
}
.icon-bell-line:before {
  content: "\ec2e";
}
.icon-bell-outline-badged:before {
  content: "\ec2f";
}
.icon-bell-solid:before {
  content: "\ec30";
}
.icon-bell-solid-badged:before {
  content: "\ec31";
}
.icon-calendar-line1:before {
  content: "\ec32";
}
.icon-calendar-outline-alerted1:before {
  content: "\ec33";
}
.icon-calendar-outline-badged1:before {
  content: "\ec34";
}
.icon-calendar-solid1:before {
  content: "\ec35";
}
.icon-calendar-solid-alerted1:before {
  content: "\ec36";
}
.icon-calendar-solid-badged1:before {
  content: "\ec37";
}
.icon-caret-line:before {
  content: "\ec38";
}
.icon-check-circle-line:before {
  content: "\ec39";
}
.icon-check-circle-solid:before {
  content: "\ec3a";
}
.icon-check-line:before {
  content: "\ec3b";
}
.icon-close-line:before {
  content: "\ec3c";
}
.icon-cloud-line:before {
  content: "\ec3d";
}
.icon-cloud-outline-alerted:before {
  content: "\ec3e";
}
.icon-cloud-outline-badged:before {
  content: "\ec3f";
}
.icon-cloud-solid:before {
  content: "\ec40";
}
.icon-cloud-solid-alerted:before {
  content: "\ec41";
}
.icon-cloud-solid-badged:before {
  content: "\ec42";
}
.icon-cog-line:before {
  content: "\ec43";
}
.icon-cog-outline-alerted:before {
  content: "\ec44";
}
.icon-cog-outline-badged:before {
  content: "\ec45";
}
.icon-cog-solid:before {
  content: "\ec46";
}
.icon-cog-solid-alerted:before {
  content: "\ec47";
}
.icon-cog-solid-badged:before {
  content: "\ec48";
}
.icon-collapse-line:before {
  content: "\ec49";
}
.icon-directory-line:before {
  content: "\ec4a";
}
.icon-directory-outline-alerted:before {
  content: "\ec4b";
}
.icon-directory-outline-badged:before {
  content: "\ec4c";
}
.icon-directory-solid:before {
  content: "\ec4d";
}
.icon-directory-solid-alerted:before {
  content: "\ec4e";
}
.icon-directory-solid-badged:before {
  content: "\ec4f";
}
.icon-ellipsis-horizontal-line:before {
  content: "\ec50";
}
.icon-ellipsis-horizontal-outline-badged:before {
  content: "\ec51";
}
.icon-ellipsis-vertical-line:before {
  content: "\ec52";
}
.icon-ellipsis-vertical-outline-badged:before {
  content: "\ec53";
}
.icon-error-line:before {
  content: "\ec54";
}
.icon-error-solid:before {
  content: "\ec55";
}
.icon-error-standard-line:before {
  content: "\ec56";
}
.icon-error-standard-solid:before {
  content: "\ec57";
}
.icon-event-line1:before {
  content: "\ec58";
}
.icon-event-outline-alerted1:before {
  content: "\ec59";
}
.icon-event-outline-badged1:before {
  content: "\ec5a";
}
.icon-event-solid1:before {
  content: "\ec5b";
}
.icon-event-solid-alerted1:before {
  content: "\ec5c";
}
.icon-event-solid-badged1:before {
  content: "\ec5d";
}
.icon-exclamation-circle-line:before {
  content: "\ec5e";
}
.icon-exclamation-circle-solid:before {
  content: "\ec5f";
}
.icon-exclamation-triangle-line:before {
  content: "\ec60";
}
.icon-exclamation-triangle-solid:before {
  content: "\ec61";
}
.icon-eye-hide-line1:before {
  content: "\ec62";
}
.icon-eye-hide-solid1:before {
  content: "\ec63";
}
.icon-eye-line1:before {
  content: "\ec64";
}
.icon-eye-solid1:before {
  content: "\ec65";
}
.icon-filter-grid-circle-line:before {
  content: "\ec66";
}
.icon-filter-grid-circle-solid:before {
  content: "\ec67";
}
.icon-filter-grid-line:before {
  content: "\ec68";
}
.icon-filter-grid-solid:before {
  content: "\ec69";
}
.icon-folder-line:before {
  content: "\ec6a";
}
.icon-folder-open-line:before {
  content: "\ec6b";
}
.icon-folder-open-outline-alerted:before {
  content: "\ec6c";
}
.icon-folder-open-outline-badged:before {
  content: "\ec6d";
}
.icon-folder-open-solid:before {
  content: "\ec6e";
}
.icon-folder-open-solid-alerted:before {
  content: "\ec6f";
}
.icon-folder-open-solid-badged:before {
  content: "\ec70";
}
.icon-folder-outline-alerted:before {
  content: "\ec71";
}
.icon-folder-outline-badged:before {
  content: "\ec72";
}
.icon-folder-solid:before {
  content: "\ec73";
}
.icon-folder-solid-alerted:before {
  content: "\ec74";
}
.icon-folder-solid-badged:before {
  content: "\ec75";
}
.icon-help-info-line:before {
  content: "\ec76";
}
.icon-help-info-solid:before {
  content: "\ec77";
}
.icon-home-line:before {
  content: "\ec78";
}
.icon-home-solid:before {
  content: "\ec79";
}
.icon-house-line:before {
  content: "\ec7a";
}
.icon-house-solid:before {
  content: "\ec7b";
}
.icon-image-line:before {
  content: "\ec7c";
}
.icon-image-outline-badged:before {
  content: "\ec7d";
}
.icon-image-solid:before {
  content: "\ec7e";
}
.icon-image-solid-badged:before {
  content: "\ec7f";
}
.icon-info-circle-line:before {
  content: "\ec80";
}
.icon-info-circle-solid:before {
  content: "\ec81";
}
.icon-info-line:before {
  content: "\ec82";
}
.icon-info-solid:before {
  content: "\ec83";
}
.icon-info-standard-line:before {
  content: "\ec84";
}
.icon-info-standard-solid:before {
  content: "\ec85";
}
.icon-menu-line:before {
  content: "\ec86";
}
.icon-notification-line:before {
  content: "\ec87";
}
.icon-notification-outline-badged:before {
  content: "\ec88";
}
.icon-notification-solid:before {
  content: "\ec89";
}
.icon-notification-solid-badged:before {
  content: "\ec8a";
}
.icon-search-line:before {
  content: "\ec8b";
}
.icon-settings-line:before {
  content: "\ec8c";
}
.icon-settings-outline-alerted:before {
  content: "\ec8d";
}
.icon-settings-outline-badged:before {
  content: "\ec8e";
}
.icon-settings-solid:before {
  content: "\ec8f";
}
.icon-settings-solid-alerted:before {
  content: "\ec90";
}
.icon-settings-solid-badged:before {
  content: "\ec91";
}
.icon-step-forward-2-line:before {
  content: "\ec92";
}
.icon-success-line:before {
  content: "\ec93";
}
.icon-success-standard-line:before {
  content: "\ec94";
}
.icon-success-standard-solid:before {
  content: "\ec95";
}
.icon-times-line:before {
  content: "\ec96";
}
.icon-unknown-status-line:before {
  content: "\ec97";
}
.icon-user-line:before {
  content: "\ec98";
}
.icon-user-outline-alerted:before {
  content: "\ec99";
}
.icon-user-outline-badged:before {
  content: "\ec9a";
}
.icon-user-solid:before {
  content: "\ec9b";
}
.icon-user-solid-alerted:before {
  content: "\ec9c";
}
.icon-user-solid-badged:before {
  content: "\ec9d";
}
.icon-view-columns-line:before {
  content: "\ec9e";
}
.icon-warning-line:before {
  content: "\ec9f";
}
.icon-warning-solid:before {
  content: "\eca0";
}
.icon-warning-standard-line:before {
  content: "\eca1";
}
.icon-warning-standard-solid:before {
  content: "\eca2";
}
.icon-bank-line:before {
  content: "\eca3";
}
.icon-bank-outline-alerted:before {
  content: "\eca4";
}
.icon-bank-outline-badged:before {
  content: "\eca5";
}
.icon-bank-solid:before {
  content: "\eca6";
}
.icon-bank-solid-alerted:before {
  content: "\eca7";
}
.icon-bank-solid-badged:before {
  content: "\eca8";
}
.icon-bitcoin-line:before {
  content: "\eca9";
}
.icon-bitcoin-solid:before {
  content: "\ecaa";
}
.icon-calculator-line:before {
  content: "\ecab";
}
.icon-calculator-solid:before {
  content: "\ecac";
}
.icon-coin-bag-line:before {
  content: "\ecad";
}
.icon-coin-bag-solid:before {
  content: "\ecae";
}
.icon-credit-card-line:before {
  content: "\ecaf";
}
.icon-credit-card-solid:before {
  content: "\ecb0";
}
.icon-dollar-bill-line:before {
  content: "\ecb1";
}
.icon-dollar-bill-solid:before {
  content: "\ecb2";
}
.icon-dollar-line:before {
  content: "\ecb3";
}
.icon-dollar-solid:before {
  content: "\ecb4";
}
.icon-e-check-line:before {
  content: "\ecb5";
}
.icon-e-check-solid:before {
  content: "\ecb6";
}
.icon-euro-line:before {
  content: "\ecb7";
}
.icon-euro-solid:before {
  content: "\ecb8";
}
.icon-peso-line:before {
  content: "\ecb9";
}
.icon-peso-solid:before {
  content: "\ecba";
}
.icon-piggy-bank-line:before {
  content: "\ecbb";
}
.icon-piggy-bank-solid:before {
  content: "\ecbc";
}
.icon-pound-line:before {
  content: "\ecbd";
}
.icon-pound-solid:before {
  content: "\ecbe";
}
.icon-ruble-line:before {
  content: "\ecbf";
}
.icon-ruble-solid:before {
  content: "\ecc0";
}
.icon-rupee-line:before {
  content: "\ecc1";
}
.icon-rupee-solid:before {
  content: "\ecc2";
}
.icon-savings-line:before {
  content: "\ecc3";
}
.icon-savings-solid:before {
  content: "\ecc4";
}
.icon-shopping-bag-line:before {
  content: "\ecc5";
}
.icon-shopping-bag-solid:before {
  content: "\ecc6";
}
.icon-shopping-cart-line:before {
  content: "\ecc7";
}
.icon-shopping-cart-outline-alerted:before {
  content: "\ecc8";
}
.icon-shopping-cart-outline-badged:before {
  content: "\ecc9";
}
.icon-shopping-cart-solid:before {
  content: "\ecca";
}
.icon-shopping-cart-solid-alerted:before {
  content: "\eccb";
}
.icon-shopping-cart-solid-badged:before {
  content: "\eccc";
}
.icon-store-line:before {
  content: "\eccd";
}
.icon-store-solid:before {
  content: "\ecce";
}
.icon-wallet-line:before {
  content: "\eccf";
}
.icon-wallet-solid:before {
  content: "\ecd0";
}
.icon-won-line:before {
  content: "\ecd1";
}
.icon-won-solid:before {
  content: "\ecd2";
}
.icon-yen-line:before {
  content: "\ecd3";
}
.icon-yen-solid:before {
  content: "\ecd4";
}
.icon-analytics-line:before {
  content: "\ecd5";
}
.icon-analytics-outline-alerted:before {
  content: "\ecd6";
}
.icon-analytics-outline-badged:before {
  content: "\ecd7";
}
.icon-analytics-solid:before {
  content: "\ecd8";
}
.icon-analytics-solid-alerted:before {
  content: "\ecd9";
}
.icon-analytics-solid-badged:before {
  content: "\ecda";
}
.icon-axis-chart-line:before {
  content: "\ecdb";
}
.icon-axis-chart-outline-alerted:before {
  content: "\ecdc";
}
.icon-axis-chart-outline-badged:before {
  content: "\ecdd";
}
.icon-axis-chart-solid:before {
  content: "\ecde";
}
.icon-axis-chart-solid-alerted:before {
  content: "\ecdf";
}
.icon-axis-chart-solid-badged:before {
  content: "\ece0";
}
.icon-bar-chart-line:before {
  content: "\ece1";
}
.icon-bar-chart-outline-alerted:before {
  content: "\ece2";
}
.icon-bar-chart-outline-badged:before {
  content: "\ece3";
}
.icon-bar-chart-solid:before {
  content: "\ece4";
}
.icon-bar-chart-solid-alerted:before {
  content: "\ece5";
}
.icon-bar-chart-solid-badged:before {
  content: "\ece6";
}
.icon-bell-curve-line:before {
  content: "\ece7";
}
.icon-box-plot-line:before {
  content: "\ece8";
}
.icon-box-plot-outline-alerted:before {
  content: "\ece9";
}
.icon-box-plot-outline-badged:before {
  content: "\ecea";
}
.icon-box-plot-solid:before {
  content: "\eceb";
}
.icon-box-plot-solid-alerted:before {
  content: "\ecec";
}
.icon-box-plot-solid-badged:before {
  content: "\eced";
}
.icon-bubble-chart-line:before {
  content: "\ecee";
}
.icon-bubble-chart-outline-alerted:before {
  content: "\ecef";
}
.icon-bubble-chart-outline-badged:before {
  content: "\ecf0";
}
.icon-bubble-chart-solid:before {
  content: "\ecf1";
}
.icon-bubble-chart-solid-alerted:before {
  content: "\ecf2";
}
.icon-bubble-chart-solid-badged:before {
  content: "\ecf3";
}
.icon-cloud-chart-line:before {
  content: "\ecf4";
}
.icon-cloud-chart-outline-alerted:before {
  content: "\ecf5";
}
.icon-cloud-chart-outline-badged:before {
  content: "\ecf6";
}
.icon-cloud-chart-solid:before {
  content: "\ecf7";
}
.icon-cloud-chart-solid-alerted:before {
  content: "\ecf8";
}
.icon-cloud-chart-solid-badged:before {
  content: "\ecf9";
}
.icon-curve-chart-line:before {
  content: "\ecfa";
}
.icon-curve-chart-outline-alerted:before {
  content: "\ecfb";
}
.icon-curve-chart-outline-badged:before {
  content: "\ecfc";
}
.icon-curve-chart-solid:before {
  content: "\ecfd";
}
.icon-curve-chart-solid-alerted:before {
  content: "\ecfe";
}
.icon-curve-chart-solid-badged:before {
  content: "\ecff";
}
.icon-grid-chart-line:before {
  content: "\ed00";
}
.icon-grid-chart-outline-alerted:before {
  content: "\ed01";
}
.icon-grid-chart-outline-badged:before {
  content: "\ed02";
}
.icon-grid-chart-solid:before {
  content: "\ed03";
}
.icon-grid-chart-solid-alerted:before {
  content: "\ed04";
}
.icon-grid-chart-solid-badged:before {
  content: "\ed05";
}
.icon-heat-map-line:before {
  content: "\ed06";
}
.icon-heat-map-outline-alerted:before {
  content: "\ed07";
}
.icon-heat-map-outline-badged:before {
  content: "\ed08";
}
.icon-heat-map-solid:before {
  content: "\ed09";
}
.icon-heat-map-solid-alerted:before {
  content: "\ed0a";
}
.icon-heat-map-solid-badged:before {
  content: "\ed0b";
}
.icon-line-chart-line:before {
  content: "\ed0c";
}
.icon-line-chart-outline-alerted:before {
  content: "\ed0d";
}
.icon-line-chart-outline-badged:before {
  content: "\ed0e";
}
.icon-line-chart-solid:before {
  content: "\ed0f";
}
.icon-line-chart-solid-alerted:before {
  content: "\ed10";
}
.icon-line-chart-solid-badged:before {
  content: "\ed11";
}
.icon-pie-chart-line:before {
  content: "\ed12";
}
.icon-pie-chart-outline-alerted:before {
  content: "\ed13";
}
.icon-pie-chart-outline-badged:before {
  content: "\ed14";
}
.icon-pie-chart-solid:before {
  content: "\ed15";
}
.icon-pie-chart-solid-alerted:before {
  content: "\ed16";
}
.icon-pie-chart-solid-badged:before {
  content: "\ed17";
}
.icon-scatter-plot-line:before {
  content: "\ed18";
}
.icon-scatter-plot-outline-alerted:before {
  content: "\ed19";
}
.icon-scatter-plot-outline-badged:before {
  content: "\ed1a";
}
.icon-scatter-plot-solid:before {
  content: "\ed1b";
}
.icon-scatter-plot-solid-alerted:before {
  content: "\ed1c";
}
.icon-scatter-plot-solid-badged:before {
  content: "\ed1d";
}
.icon-tick-chart-line:before {
  content: "\ed1e";
}
.icon-tick-chart-outline-alerted:before {
  content: "\ed1f";
}
.icon-tick-chart-outline-badged:before {
  content: "\ed20";
}
.icon-tick-chart-solid:before {
  content: "\ed21";
}
.icon-tick-chart-solid-alerted:before {
  content: "\ed22";
}
.icon-tick-chart-solid-badged:before {
  content: "\ed23";
}
