.btn:hover {
    filter: opacity(90%) !important;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-size: 110% 110%;

    //cursor: pointer;
    //display: inline-block;
    //-webkit-appearance: none !important;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    //overflow: hidden;
    //text-align: center;
    //text-decoration: none;
    //text-transform: uppercase;
    //vertical-align: middle;
    //background-color: transparent;
    //font-weight: 500;
    //padding: .5rem 1rem;
    border-radius: 3px;
}

.btn-sm {
    line-height: calc(1rem - 1px);
    font-size: .7rem;
    font-weight: 500;
    padding: .2rem .5rem;
    letter-spacing: .5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    transition: .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.hub_follow {
    margin: auto;
    text-align: center;
    width: 100%;
}

.btn-s {
    padding: 5px 10px;
    box-shadow: 0 1px 1px 0 #eee;
}

.btn_navbar_registration {
    color: #fff;
    background-color: var(--color-blue);
    text-transform: none;
    transition: all 200ms ease-in-out 0s;
    font-size: 14px;

    &:hover {
        box-shadow: rgba(65, 131, 185, 0.3) 0 0 0 4px;
    }
}

.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-text-contrast);
    text-transform: none;
    border-radius: 3px;
    font-size: 14px;
}

.btn-success {
    color: var(--color-black);
    border-radius: 4px;
}

.btn-outline {
    border: 1px solid var(--color-btn-border-secondary);
    background-color: transparent;
    color: var(--color-green);
    border-radius: 2px;
    font-size: 14px;
}

.btn-success-outline {
    color: var(--color-black);
    border-radius: 2px;
    font-size: 13px;

    &:hover {
        color: rgba(0, 0, 0, .9);
    }

    i {
        color: var(--color-green);
    }
}

.submit {
    width: fit-content;
}

.profile_user-connect {
    display: inline-block;
    color: var(--color-white) !important;
    background-color: var(--color-blue);
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.profile_user-connected {
    display: inline-block;
    color: var(--color-white) !important;
    background-color: var(--color-gray);
    border: 1px solid var(--color-btn-border-secondary);
    width: 100%;
    text-align: center;
}

.btn_navbar_login {
    border: 1px solid #a4afba;
    background-color: transparent;
    box-shadow: none;
    color: #838a92;
    cursor: pointer;
    user-select: none;
    appearance: none;
    height: 32px;
    touch-action: manipulation;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 3px;

    &:hover {
        border-color: var(--color-blue);
        color: var(--color-blue);
    }
}

.btn-more {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: var(--color-black);
    margin: 0 0 0 auto;
}

.page-header__button {
    display: inline-block;
    color: var(--color-white) !important;
    background-color: var(--color-blue);
    border: none;
    border-radius: 2px;
    width: 100%;
    text-align: center;
}

.btn-follow__user {
    background: var(--color-green);
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 12px 0 0;
}

.btn-dashed {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;
}

.button_about {
    margin-top: 12px;
}
