.layout__navbar {
    border-bottom: 1px solid var(--color-border);
    box-sizing: border-box;
    background-color: var(--background-header);

    .main-navbar {
        display: flex;
        width: 80%;
        margin: 0 auto;
        -webkit-box-pack: justify;
        justify-content: space-between;
        box-sizing: border-box;

        .logo {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            color: var(--text-black-primary);
            border-right: 1px solid #d5dddf;
            font-family: MontDemo-Heavy, sans-serif;
            font-size: 26px;
            padding-right: 18px;
        }
    }
}

@media (max-width: 1281px) {
    .main-navbar{
        padding: 0 16px;
        width: unset !important;
    }

    .logo {
        border-right: unset !important;
    }

    .mdi-menu {
        display: block !important;
        color: var(--text-black-primary);
        width: 26px;
        font-size: 26px;
        margin-right: 18px;
    }

    .main-navbar{
        height: 48px;
    }

    .nav-links{
        display: none !important;
    }

    .nav-links .active{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        overflow: hidden;
        background: #212121;
        width: 250px;
        box-sizing: border-box;
        transition: all 250ms;
        -webkit-transform: translateZ(0) translateX(-100%);
        transform: translateZ(0) translateX(-100%);
        text-align:center;
        box-shadow: 0 0 10px #000;
    }
}

.nav-links__item-link_current {
    color: var(--color-primary-main) !important;
}
