@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
    }

    .text-shadow-md {
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
        text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

@layer components {
    .group:focus .group-focus\:flex {
        display: flex;
    }

    .input {
        @apply w-full px-2 h-10 rounded text-base hover:border-cerulean-100 border dark:border-gray-700 dark:focus:border-cerulean-500   dark:text-gray-300 dark:hover:border-cerulean-500 dark:bg-dpaper focus:outline-none focus:ring-0
    }

    .textarea{
        @apply shadow-sm focus:ring-0 hover:border-cerulean-100 dark:hover:border-cerulean-500 focus:border-cerulean-500 mt-1 block w-full sm:text-sm rounded-md dark:border-gray-700 dark:text-gray-300 dark:bg-dpaper
    }

    .multiselect__tags, .multiselect__input, .multiselect__single, .multiselect__content-wrapper{
        @apply  rounded-none dark:bg-dpaper dark:text-gray-300 dark:border-gray-700
    }

    .btn{
        @apply cursor-pointer border xs:w-full focus:outline-none border-cerulean-100 text-sm rounded h-9 items-center inline-flex px-3 text-white bg-cerulean-100 dark:text-gray-200 hover:bg-cerulean-300 dark:hover:bg-cerulean-300
    }

    .btn-outline{
        @apply cursor-pointer border xs:w-full text-sm rounded h-9 items-center inline-flex px-3 border-gray-300 dark:border-gray-600 dark:text-gray-300 focus:outline-none hover:border-cerulean-500 dark:hover:border-cerulean-300
    }

    .ce-block__content{
        @apply w-full max-w-full
    }

    .ce-toolbar__content{
        @apply max-w-full
    }

    .button {
        @apply border border-cerulean-700 font-normal uppercase text-sm rounded px-3 py-2 text-white bg-cerulean-700 hover:bg-cerulean-800 hover:border-cerulean-800
    }

    .py-05 {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
    }

    .ce-block__content{
        @apply markdown
    }

    .markdown {
        @apply text-gray-900 dark:text-gray-400 leading-normal break-words text-base
    }

    .markdown > * + * {
        @apply mt-0 mb-4;
    }

    .markdown li + li {
        @apply mt-1;
    }

    .markdown li > p + p {
        @apply mt-6;
    }

    .markdown strong {
        @apply font-semibold;
    }

    .markdown a {
        @apply font-medium text-cerulean-700;
    }

    .markdown strong a {
        @apply font-bold;
    }

    .markdown h1 {
        @apply leading-tight border-b text-2xl font-semibold mt-6 pb-2 mb-2;
    }

    .markdown h2 {
        @apply leading-tight border-b text-xl font-semibold mt-6 pb-2 mb-2;
    }

    .markdown h3 {
        @apply leading-snug text-lg font-semibold mt-6 mb-2;
    }

    .markdown h4 {
        @apply leading-none text-base font-semibold mt-6;
    }

    .markdown h5 {
        @apply leading-tight text-base font-semibold mt-6;
    }

    .markdown h6 {
        @apply leading-tight text-base font-semibold text-gray-600 mt-6;
    }

    .markdown blockquote {
        @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
    }

    .markdown code {
        @apply text-sm rounded p-4;
    }

    .markdown pre {
        @apply rounded;
    }

    .markdown ul {
        @apply text-base pl-8 list-disc;
    }

    .markdown ol {
        @apply text-base pl-8 list-decimal;
    }

    .markdown kbd {
        @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal shadow;
    }

    .markdown table {
        @apply text-base border-gray-600;
    }

    .markdown th {
        @apply border py-1 px-3;
    }

    .markdown img {
        @apply mx-auto w-full my-5;
    }

    .markdown td {
        @apply border py-1 px-3;
    }

    /* Override pygments style background color. */
    .markdown .highlight pre {
        @apply bg-gray-100 !important;
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select{
        border-color: #e9e9e9;
    }

}

@keyframes blink { 50% { fill: transparent }}
.dot {
    animation: 1s blink infinite;
    fill: #71717a;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

*:not(.iconify, #text, input, button, #trans-none, textarea, #title, summary, details) {
    @apply transition-all duration-200 ease-in;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    @apply opacity-50 cursor-text
}

[placeholder]:empty:focus::before {
    content: "";
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }   to {
            transform: rotate(360deg);
        }
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #D3D1CB;
}
::-webkit-scrollbar-track {
    background: #EDECE9;
}
/* End scrollbar*/

.toggle:before {
    content: url('https://api.iconify.design/ic:twotone-light-mode.svg?height=22&color=%23f4f4f5');
    vertical-align: -0.6rem;
}

.toggle.active:before {
    content: url('https://api.iconify.design/ic:outline-dark-mode.svg?height=22&color=%23f4f4f5');
    vertical-align: -0.6rem;
}

.toggle.animate {
    animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes animate {
    0%   { transform: scale(1); }
    50%  { transform: scale(0); }
    100% { transform: scale(1); }
}
