.users-list {
    //display: grid;
    //grid-template-columns: 74% 25%;
    //gap: 1%;

    &__titles{
        display: grid;
        grid-template-columns: auto 10% 10% 10% 20%;
    }

    &__titles {
        height: 47px;
    }

    &__title {
        text-align: center;

        &:first-child{
            text-align: left;
        }
    }

    &__left {
        width: 100%;
    }

    &__list {
        display: grid;
        grid-template-columns: 64px auto 10% 10% 10% 20%;
        position: relative;
        background: var(--background-paper);
        margin-bottom: 1%;
        height: 60px;
        border: 1px solid var(--color-border);
        vertical-align: middle;
    }

    &__image {
        width: 32px;
        height: 32px;
        margin: auto;
        padding: 0;
        z-index: 1;
    }

    &__obj-body {
        margin: auto 0;
        line-height: 15px;
        font-size: 12px;
        text-align: left;
        color: #b6b6b6;
    }

    &__title-link {
        display: inline-block;
        margin-bottom: 5px;
        color: var(--color-post-title);
        vertical-align: top;
        font-size: 15px;
        line-height: 18px;
    }

    &__count {
        font-size: 12px;
        text-align: center;
        margin: auto;
    }

    &__desc, &__count {
        color: var(--color-black-secondary);
    }

    &__stats {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0 auto;
        -moz-osx-font-smoothing: grayscale;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }

    &__stats-value {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: bold;
        color: var(--text-black-primary);
        margin: 0 auto 3px;
    }

    &__follow {
        margin: auto;
        text-align: center;
        width: 100%;
    }
}

.content_right {
    border-radius: 4px;

    .trophy-list__element {
        display: grid;
        grid-template-columns: 38.4px auto;
        gap: 12px;
        margin-bottom: 12px;
        color: var(--color-black);

        .trophy-info {
            position: relative;
            line-height: normal;

            .trophy-name {
                color: var(--text-black-primary);
                display: inline-block;
                margin-bottom: 5px;
                vertical-align: top;
                font-weight: bold;
                font-size: 15px;
            }

            .trophy-description {
                color: var(--text-black-secondary);
                font-size: 13px;
            }

            .trophy-count {
                font-size: 13px;
                color: var(--text-black-secondary);
                margin-top: auto;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        img {
            height: auto;
            max-width: 100%;
            width: 38.4px;
        }

        &:last-child {
            margin-bottom: unset;
        }
    }
}
