.about_content {
  background: #fff;
  font: inherit;
}
.about_content .about_body {
  margin: 0 15%;
  padding: 12px 0;
}
.about_content .about_body .about_header {
  text-align: center;
}
.about_content .about_body .text {
  line-height: 1.6em;
}
.about_content .about_body .text p {
  margin: 12px 0;
}