.btn:hover {
  -webkit-filter: opacity(90%) !important;
          filter: opacity(90%) !important;
}

.btn {
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.btn-sm {
  line-height: calc(1rem - 1px);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.2rem 1rem;
  letter-spacing: 0.5px;
  border-color: #4183b7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background: -webkit-gradient(linear, left top, left bottom, from(#4183b7), to(#4d7597));
  background: linear-gradient(#4183b7, #4d7597);
  background-color: rgba(0, 0, 0, 0);
  background-color: #4183b7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.hub_follow {
  margin: auto;
  text-align: center;
  width: 100%;
}

.btn-s {
  padding: 5px 10px;
  box-shadow: 0 1px 1px 0 #eee;
}

.btn_navbar_registration {
  color: #fff;
  background-color: var(--color-blue);
  text-transform: none;
  border-radius: 2px;
  font-size: 14px;
}

.btn_navbar_registration:hover {
  color: #fff;
  border-color: transparent;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-blue);
  color: var(--color-text-contrast);
  text-transform: none;
  border-radius: 3px;
  font-size: 14px;
}

.btn-success {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 2px;
}

.btn-outline {
  border: 1px solid var(--color-btn-border-secondary);
  background-color: transparent;
  color: var(--color-green);
  border-radius: 2px;
  font-size: 14px;
}

.btn-success-outline {
  background: #e2e2e2 !important;
  color: var(--color-black);
  border-radius: 2px;
  font-size: 13px;
}
.btn-success-outline:hover {
  color: rgba(0, 0, 0, 0.5);
}

.submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile_user-connect {
  display: inline-block;
  color: var(--color-white) !important;
  background-color: var(--color-blue);
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.profile_user-connected {
  display: inline-block;
  color: var(--color-white) !important;
  background-color: var(--color-gray);
  border: 1px solid var(--color-btn-border-secondary);
  width: 100%;
  text-align: center;
}

.btn_navbar_login {
  font-weight: 500;
  color: var(--color-black);
  border-radius: 3px;
  border: #b1b1b1 solid 1px;
  text-transform: none;
  font-size: 14px;
  outline: transparent solid;
  background: transparent;
}

.btn_navbar_login:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(96%, #fbfbfb));
  background: linear-gradient(#ffffff, #fbfbfb 96%);
}

.btn-more {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: var(--color-black);
  margin: 0 0 0 auto;
}

.page-header__button {
  margin: 0;
  background: var(--color-green);
  color: #fff;
}

.btn-folow__user {
  background: var(--color-green);
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 12px 0 0;
}

.btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}

.button_about {
  margin-top: 12px;
}