.btn:hover {
  -webkit-filter: opacity(90%) !important;
          filter: opacity(90%) !important;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-size: 110% 110%;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.btn-sm {
  line-height: calc(1rem - 1px);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.hub_follow {
  margin: auto;
  text-align: center;
  width: 100%;
}

.btn-s {
  padding: 5px 10px;
  box-shadow: 0 1px 1px 0 #eee;
}

.btn_navbar_registration {
  color: #fff;
  background-color: var(--color-primary-main);
  text-transform: none;
  -webkit-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
  font-size: 13px;
}
.btn_navbar_registration:hover {
  box-shadow: rgba(65, 131, 185, 0.3) 0 0 0 4px;
}

.btn-primary {
  background-color: var(--color-primary-main) !important;
  color: var(--text-white-primary);
  text-transform: none;
  border-radius: 3px;
  font-size: 13px;
}

.btn-success {
  color: var(--color-black);
  border-radius: 4px;
}

.btn-outline {
  border: 1px solid var(--color-btn-border-secondary);
  background-color: transparent;
  color: var(--color-green);
  border-radius: 2px;
  font-size: 13px;
}

.btn-success-outline {
  color: var(--text-white-primary);
  border-radius: 2px;
  font-size: 13px;
}
.btn-success-outline:hover {
  color: var(--text-white-secondary);
}

.submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile_user-connect {
  display: inline-block;
  color: var(--text-white-primary) !important;
  background-color: var(--color-primary-main);
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.profile_user-connected {
  display: inline-block;
  color: var(--color-white) !important;
  background-color: var(--color-gray);
  border: 1px solid var(--color-btn-border-secondary);
  width: 100%;
  text-align: center;
}

.btn_navbar_login {
  border: 1px solid var(--text-black-primary);
  background-color: transparent;
  box-shadow: none;
  color: var(--text-black-primary);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 32px;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn_navbar_login:hover {
  border-color: var(--color-primary-main);
  color: var(--color-primary-main);
  background-color: rgba(144, 202, 249, 0.08);
}

.btn-more {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: var(--color-black);
  margin: 0 0 0 auto;
}

.page-header__button {
  display: inline-block;
  color: var(--color-white) !important;
  background-color: var(--color-primary-main);
  border: none;
  border-radius: 2px;
  width: 100%;
  text-align: center;
}

.btn-follow__user {
  background: var(--color-green);
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 12px 0 0;
}

.btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}

.button_about {
  margin-top: 12px;
}