@charset "UTF-8";
body {
  font-family: Roboto, Tahoma, sans-serif;
}

:root, [data-theme=default] {
  --color-app-bg: #f4f4f4;
  --color-app-text: #838a92;
  --color-bg: #fff;
  --color-color: #838a92;
  --color-text: #212121;
  --color-text-contrast: #fff;
  --color-header: #fff;
  --color-logo: #262626;
  --color-section-bg: #fff;
  --color-section-text: #262626;
  --color-section-gray-bg: #f9f9fb;
  --color-btn-primary: #197fc9;
  --color-btn-success: #22b14e;
  --color-btn-secondary: #e8e8e8;
  --color-btn-text-secondary: #838a92;
  --color-btn-border-secondary: #dbdbdb;
  --color-block-bg: #f9f9fb;
  --color-block-header: #262626;
  --color-block-header-bg: #edeeef;
  --color-block-text: #262626;
  --color-post-title: #262626;
  --color-header-nav-hover: #4d80aa;
  --color-border: #e9e9e9;
  --color--header_icon__bg: rgba(0, 0, 0, 0.050980392156862744);
  --color--header_icon__text: rgba(0, 0, 0, 0.7019607843137254);
  --color-white: #fff;
  --color-red: #fd5d47;
  --color-black: #262626;
  --color-green: #22b14e;
  --color-green-secondary: #55851c;
  --color-gray: #edeeef;
  --color-yellow: #FFC107;
  --color-blue: #4183B7;
  --color-blue-hover: #3F80BC;
  --color-background-input: #fff;
  --color-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
}

:root, [data-theme=dark] {
  --color-app-bg: #171c20;
  --color-app-text: #bfbfbf;
  --color-bg: #fff;
  --color-color: #838a92;
  --color-text: #212121;
  --color-text-contrast: #fff;
  --color-header: #095c79;
  --color-logo: #fff;
  --color-section-bg: #22272b;
  --color-section-text: #fff;
  --color-section-gray-bg: #f9f9fb;
  --color-btn-primary: #197fc9;
  --color-btn-success: #22b14e;
  --color-btn-secondary: #e8e8e8;
  --color-btn-border-secondary: #dbdbdb;
  --color-block-bg: #22272b;
  --color-block-header: #eaeaea;
  --color-block-header-bg: #1a1e21;
  --color-block-text: #bfbfbf;
  --color-post-title: #eaeaea;
  --color--header_icon__bg: rgba(255, 255, 255, 0.050980392156862744);
  --color--header_icon__text: rgba(255, 255, 255, 0.7019607843137254);
  --color-border: #393d41;
  --color-white: #f5f8fa;
  --color-red: #dd1313;
  --color-black: #262626;
  --color-gray: #edeeef;
  --color-green: #22b14e;
  --color-blue: #197fc9;
  --color-background-input: rgba(16,22,26,.3);
  --color-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.3), inset 0 1px 1px rgba(16,22,26,.4);
}

@font-face {
  font-family: MontDemo-Heavy;
  font-style: normal;
  src: url("/fonts/MontDemo-Heavy.otf");
}
@media screen and (min-width: 36em) {
  .PageColumns {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.PageColumns {
  min-height: 100vh;
  min-width: 100%;
}
.PageColumns .PageColumn__left {
  background: #4183B7;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  grid-column: 1;
}
.PageColumns .PageColumn__left .login__registration {
  color: #fff;
  display: -webkit-box;
  display: flex;
  max-width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 99;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info {
  display: -webkit-box;
  display: flex;
  margin-bottom: 24px;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info .icon {
  margin-right: 8px;
  font-size: 1.5em;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info .icon-thumbs-up:hover {
  color: unset;
  cursor: inherit;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info .login__registration-info-text {
  line-height: 1.5em;
}
.PageColumns .PageColumn__left .login__registration .title {
  margin-bottom: 20px;
  color: var(--color-white);
}
.PageColumns .PageColumn__left .login__registration .title .logo_login {
  font-size: inherit;
  margin: unset;
  color: var(--color-black);
}
.PageColumns .PageColumn__left .login__registration .svg-icon {
  color: var(--color-blue);
}
.PageColumns .PageColumn__left .login__registration p {
  font-size: 13px;
}
.PageColumns .PageColumn__left #particles-js {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.PageColumns .PageColumn__right {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: var(--color-white);
  grid-column: 2;
}
.PageColumns .PageColumn__right .ColumnContainer {
  width: 85%;
  max-width: 60%;
  margin: 0 auto;
}
.PageColumns .PageColumn__right:before {
  content: "";
}
.PageColumns .PageColumn__right .login__footer {
  color: var(--color-text);
  text-align: center;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  display: block;
  padding-bottom: 1.5rem;
}
.PageColumns .PageColumn__right .login-button {
  width: 100%;
  border: none;
  letter-spacing: 0.5px;
  height: 36px;
  padding: 0 10px;
  line-height: 40px;
  text-transform: uppercase;
}
.PageColumns .PageColumn__right .login__footer-links {
  font-family: Open Sans, sans-serif;
  white-space: normal;
  visibility: visible;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 17px 0;
  width: 100%;
}
.PageColumns .PageColumn__right .login__footer-links .footer__link {
  font-family: Open Sans, sans-serif;
  white-space: normal;
  visibility: visible;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  color: #4f4f4f;
  border: none;
  font-size: 14px;
  line-height: 16px;
}
.PageColumns .PageColumn__right .login__footer-links a.footer__link.js-change-content:before {
  content: "\2022";
  display: inline-block;
  margin: 0 10px;
  color: #4f4f4f !important;
  font-size: 12px;
}

.AnimatedForm__textInput[data-empty=false] + .AnimatedForm__textInputLabel {
  -webkit-transform: translate3d(0, -8px, 0) scale(0.83333333);
  transform: translate3d(0, -8px, 0) scale(0.83333333);
  line-height: 14px;
}

.AnimatedForm__textInputLabel {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 12px;
  color: #a5a4a4;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  line-height: 23px;
}

.AnimatedForm__textInput {
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.15;
  overflow: visible;
  outline: 0;
  width: 100%;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 48px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.hideable {
  position: relative;
  max-height: 1000px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.AnimatedForm__field + .AnimatedForm__field {
  margin-top: 24px;
  margin-left: 0;
}

.Title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}

.logo_login {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 20px 0;
  color: var(--color-black);
  font-family: MontDemo-Heavy, serif;
  font-size: 26px;
  text-decoration: none;
}

.btn-reg {
  padding: 12px 15px !important;
  border-radius: 3px !important;
}

.btn-reg:hover {
  background-color: #1672be;
}

.right {
  -webkit-box-align: center;
          align-items: center;
  margin-left: auto;
}

.default-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  z-index: 1030;
  -webkit-backdrop-filter: blur(20px);
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

.desc {
  color: #5b647d;
  margin-bottom: 12px;
}