:root, [data-theme=default] {
  --color-app-bg: #f3f3f3;
  --color-app-text: #838a92;
  --color-bg: #fff;
  --color-color: #838a92;
  --color-text: #212121;
  --color-text-contrast: #fff;
  --color-header: #fff;
  --color-logo: #262626;
  --color-section-bg: #fff;
  --color-section-text: #262626;
  --color-section-gray-bg: #f9f9fb;
  --color-btn-primary: #197fc9;
  --color-btn-success: #22b14e;
  --color-btn-secondary: #e8e8e8;
  --color-btn-text-secondary: #838a92;
  --color-btn-border-secondary: #dbdbdb;
  --color-block-bg: #f9f9fb;
  --color-block-header: #262626;
  --color-block-header-bg: #edeeef;
  --color-block-text: #262626;
  --color-post-title: #262626;
  --color-header-nav-hover: #4d80aa;
  --color-border: #e9e9e9;
  --color--header_icon__bg: rgba(0, 0, 0, 0.050980392156862744);
  --color--header_icon__text: rgba(0, 0, 0, 0.7019607843137254);
  --color-white: #fff;
  --color-red: #dd1313;
  --color-black: #262626;
  --color-green: #22b14e;
  --color-green-secondary: #55851c;
  --color-gray: #edeeef;
  --color-yellow: #FFC107;
  --color-blue: #197fc9;
  --color-blue-hover: #3F80BC;
  --color-background-input: #fff;
  --color-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
}

:root, [data-theme=dark] {
  --color-app-bg: #171c20;
  --color-app-text: #bfbfbf;
  --color-bg: #fff;
  --color-color: #838a92;
  --color-text: #212121;
  --color-text-contrast: #fff;
  --color-header: #095c79;
  --color-logo: #fff;
  --color-section-bg: #22272b;
  --color-section-text: #fff;
  --color-section-gray-bg: #f9f9fb;
  --color-btn-primary: #197fc9;
  --color-btn-success: #22b14e;
  --color-btn-secondary: #e8e8e8;
  --color-btn-border-secondary: #dbdbdb;
  --color-block-bg: #22272b;
  --color-block-header: #eaeaea;
  --color-block-header-bg: #1a1e21;
  --color-block-text: #bfbfbf;
  --color-post-title: #eaeaea;
  --color--header_icon__bg: rgba(255, 255, 255, 0.050980392156862744);
  --color--header_icon__text: rgba(255, 255, 255, 0.7019607843137254);
  --color-border: #393d41;
  --color-white: #f5f8fa;
  --color-red: #dd1313;
  --color-black: #262626;
  --color-gray: #edeeef;
  --color-green: #22b14e;
  --color-blue: #197fc9;
  --color-background-input: rgba(16,22,26,.3);
  --color-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.3), inset 0 1px 1px rgba(16,22,26,.4);
}

* {
  box-sizing: border-box;
}

.PageColumns {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}
.PageColumns .PageColumn__left {
  background: var(--color-app-bg);
  width: 50%;
}
.PageColumns .PageColumn__left .Art {
  height: 99vh;
}
.PageColumns .PageColumn__left .Art .login__registration {
  position: absolute;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  height: 99vh;
  width: 50%;
}
.PageColumns .PageColumn__left .Art .login__registration .login__registration-block {
  margin: 0 auto;
}
.PageColumns .PageColumn__left .Art #particles-js {
  height: 98vh;
}
.PageColumns .PageColumn__right {
  display: flex;
  justify-content: center;
  background: var(--color-white);
  vertical-align: middle;
  height: 100vh;
  width: 50%;
}
.PageColumns .PageColumn__right .ColumnContainer {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  justify-content: center;
  min-width: 40%;
}

.AnimatedForm__textInput[data-empty=false] + .AnimatedForm__textInputLabel {
  transform: translate3d(0, -8px, 0) scale(0.83333333);
  line-height: 14px;
}

.AnimatedForm__textInputLabel {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 12px;
  color: #a5a4a4;
  text-transform: uppercase;
  transform: translateZ(0);
  transform-origin: 0 50%;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  line-height: 23px;
}

.AnimatedForm__textInput {
  transform: translateZ(0);
  outline: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  transition: all 0.2s ease-in-out;
  height: 48px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
}

.AnimatedForm__field.m-valid .AnimatedForm__textInput {
  padding-right: 36px;
  border-color: #24a0ed;
}

.hideable {
  position: relative;
  max-height: 1000px;
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.AnimatedForm__field + .AnimatedForm__field {
  margin-top: 24px;
}

.Title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #bdbdbd;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: auto;
}

.logo_login {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 20px 0;
  color: var(--color-black);
  font-family: MontDemo-Heavy;
  font-size: 26px;
}

.btn-reg {
  padding: 12px 15px !important;
  border-radius: 3px !important;
}

.btn-reg:hover {
  background-color: #1672be;
}

.right {
  align-items: center;
  margin-left: auto;
}

.default-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  z-index: 1030;
  -webkit-backdrop-filter: blur(20px);
  transition: 0.3s background-color;
}

.desc {
  color: #5b647d;
  margin-bottom: 12px;
}