:root, [data-theme=default] {
  --background-default: #f5f5f5;
  --background-paper: #fff;
  --background-tertiary: #f9f9fb;
  --text-black-primary: rgba(0, 0, 0, 0.87);
  --text-black-secondary: #757575;
  --text-black-disabled: #4c4c4e;
  --text-white-primary: #fff;
  --text-white-secondary: rgba(255, 255, 255, 0.7);
  --text-white-disabled: rgba(255, 255, 255, 0.5);
  --color-primary-main: #428bca;
  --color-primary-main-button: #428bca;
  --color-primary-light: #4791db;
  --color-primary-dark: #115293;
  --color-secondary-main: #dc004e;
  --color-secondary-light: #e33371;
  --color-secondary-dark: #9a0036;
  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;
  --color-warning-main: #ff9800;
  --color-warning-light: #ffb74d;
  --color-warning-dark: #f57c00;
  --color-info-main: #2196f3;
  --color-info-light: #64b5f6;
  --color-info-dark: #1976d2;
  --color-success-main: #4caf50;
  --color-success-light: #81c784;
  --color-success-dark: #388e3c;
  --color-border: #e9e9e9;
  --color-border-button: .06rem solid hsla(0, 0%, 0%, 0.2);
  --color-header: rgba(0, 0, 0, 0.7);
  --footer: rgba(255, 255, 255, 0.7);
  --color-black: rgba(0, 0, 0, 0.87);
  --color-black-secondary: #757575;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.7);
  --loading-black: #0000002e;
}

:root, [data-theme=dark] {
  --background-default: #121212;
  --background-paper: #202020;
  --background-tertiary: rgba(43,43,43,1);
  --background: #f9f9fb;
  --text-white-primary: rgba(0, 0, 0, 0.87);
  --text-white-secondary: hsla(0,0%,100%,.5);
  --text-white-disabled: rgba(255, 255, 255, 0.3);
  --text-black-primary: #fff;
  --text-black-secondary: hsla(0,0%,100%,.5);
  --text-black-disabled: rgba(255, 255, 255, 0.3);
  --color-primary-main: #648dae;
  --color-primary-main-button: #2371c1;
  --color-primary-light: #a6d4fa;
  --color-primary-dark: #648dae;
  --color-secondary-main: #f48fb1;
  --color-secondary-light: #f6a5c0;
  --color-secondary-dark: #aa647b;
  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;
  --color-warning-main: #ff9800;
  --color-warning-light: #ffb74d;
  --color-warning-dark: #f57c00;
  --color-info-main: #2196f3;
  --color-info-light: #64b5f6;
  --color-info-dark: #1976d2;
  --color-success-main: #4caf50;
  --color-success-light: #81c784;
  --color-success-dark: #388e3c;
  --color-border: #565555;
  --color-border-button: .06rem solid hsla(0,0%,100%,.2);
  --color-header: rgba(255, 255, 255, 0.7);
  --footer: rgba(255, 255, 255, 0.7);
  --color-black: rgba(0, 0, 0, 0.87);
  --color-black-secondary: #757575;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.7);
  --loading-black: #ffffff36;
}

.noty_layout_mixin, #noty_layout__centerRight, #noty_layout__centerLeft, #noty_layout__center, #noty_layout__bottomRight, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottom, #noty_layout__topRight, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 3rem;
  left: 10px;
  width: 320px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 320px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 10px;
  right: 10px;
  width: 320px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 10px;
  left: 10px;
  width: 320px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 320px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 10px;
  right: 10px;
  width: 320px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 10px;
  width: 320px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 10px;
  width: 320px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  transform: translate(0, 0) scale(1, 1);
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in 0.3s ease-out;
          animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out 0.3s ease-out;
          animation: noty_modal_out 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  background: rgba(38, 58, 59, 0.7);
  border: 1px solid rgba(38, 58, 59, 0.7);
  color: white;
}
.noty_theme__mint.noty_bar .notification-image {
  line-height: unset;
  width: 50px;
  height: 50px;
  border: 1px solid #86909a;
  background: #8c8c8c;
  background: linear-gradient(45deg, #8c8c8c 0%, #141414 99%, #131313 100%);
}
.noty_theme__mint.noty_bar .notification-image img, .noty_theme__mint.noty_bar .notification-image i, .noty_theme__mint.noty_bar .notification-image span {
  width: 50px;
  height: 50px;
  font-size: 48px;
  line-height: 48px;
}
.noty_theme__mint.noty_bar .notification-link {
  display: block;
  color: var(--color-info-light);
}
.noty_theme__mint.noty_bar .noty_body {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 9px;
  padding: 5px 5px 5px 0;
  margin-left: -21px;
  max-width: 320px;
  font-size: 14px;
  line-height: 1.4rem;
}
.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: rgba(255, 173, 66, 0.5);
}
.noty_theme__mint.noty_type__warning:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #E89F3C;
  border-left: 15px solid transparent;
}
.noty_theme__mint.noty_type__warning:before {
  background-color: #E89F3C;
  content: "";
  display: block;
  width: 37px;
}

.noty_theme__mint.noty_type__error {
  background-color: rgba(138, 78, 84, 0.5);
}
.noty_theme__mint.noty_type__error:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #DE636F;
  border-left: 15px solid transparent;
}
.noty_theme__mint.noty_type__error:before {
  background-color: #DE636F;
  content: "";
  display: block;
  width: 37px;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_type__success:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #418ecc;
  border-left: 15px solid transparent;
}
.noty_type__success:before {
  content: "";
  display: block;
  width: 37px;
  background-color: #418ecc;
}