.page {
  position: relative;
  float: left;
  color: var(--text-black-primary);
  padding: 5px 10px;
  display: inline-block;
  margin: 12px 12px 12px -1px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.page:hover {
  color: var(--color-primary-dark);
}

.active {
  background-color: var(--color-primary-dark);
  color: #fff;
  border-color: var(--color-primary-dark);
  z-index: 2;
}
.active:hover {
  color: var(--text-black-primary);
}

.pagination {
  font-size: 14px;
  display: -webkit-box;
}

.page-ellipsis {
  pointer-events: none;
}