
/**
 * Font size variables
 */

$h1-size: 300%;
$h2-size: 250%;
$h3-size: 200%;
$h4-size: $font-size + 1px;

$h5-size: $font-size;
$h6-size: $font-size;


/**
 * Main
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &.underline {
    box-shadow: 0 1px 0 var(--color-border);
  }

  .anchor {
    opacity: .3;
    font-weight: 400;
    font-size: .9em;
    text-decoration: none !important;

    &:before {
      content: '#';
    }

    &:focus,
    &:active {
      opacity: .7;
    }
  }
}

h1 {
  font-size: $h1-size;
  font-weight: 100;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
  font-weight: 400;
}

h4 {
  font-size: $h4-size;
  font-weight: bold;
}

h5, h6 {
  font-size: $h5-size;
  font-weight: bold;
}
