@charset "UTF-8";
@font-face {
  font-family: MontDemo-Heavy;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/MontDemo-Heavy.otf");
}
:root {
  --phone: 480px;
  --tablet: 768px;
  --desktop: 980px;
  --widescreen: 1200px;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-serif: "Times New Roman", Times, Baskerville, Georgia, serif;
  --base-background-color: #f6f6fb;
  --base-footer-color: #223645;
  --base-font-family: var(--font-sans-serif);
  --base-font-size: 16px;
  --base-line-height: 1.2;
  --base-text-color: var(--color-black);
  --base-min-width: 320px;
  --base-link: var(--color-blue);
  --base-link-active: var(--color-red);
  --btn-color: var(--color-white);
  --btn-background: var(--color-blue);
  --btn-padding: 0.4em 0.7em;
  --btn-font-size: 1.6rem;
  --btn-font-family: var(--font-sans-serif);
  --form-font-family: var(--font-sans-serif);
  --form-element-padding: var(--btn-padding);
  --form-element-border-color: var(--color-grey);
  --form-element-focus-border-color: var(--color-black);
  --placeholder-color: var(--color-grey);
  --headings-font-family: var(--font-sans-serif);
  --headings-color: var(--base-text-color);
  --headings-sizes-h1: 50px;
  --headings-sizes-h2: 45px;
  --headings-sizes-h3: 35px;
  --headings-sizes-h4: 25px;
  --headings-sizes-h5: 18px;
  --headings-sizes-h6: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: var(--headings-font-family);
  font-weight: bold;
  font-style: normal;
  margin: 0 0 0.5em;
  text-transform: none;
}

h1, .h1 {
  font-size: var(--headings-sizes-h1);
}

h2, .h2 {
  font-size: var(--headings-sizes-h2);
}

h3, .h3 {
  font-size: var(--headings-sizes-h3);
}

h4, .h4 {
  font-size: var(--headings-sizes-h4);
}

h5, .h5 {
  font-size: var(--headings-sizes-h5);
}

h6, .h6 {
  font-size: var(--headings-sizes-h6);
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  font-style: normal;
}

a {
  color: var(--base-link);
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

.link__grey {
  color: var(--color-grey-dark);
}

:root, [data-theme=default] {
  --background-default: #edeef0;
  --background-paper: #ffffff;
  --background-tertiary: #fafbfc;
  --background-secondary: hsla(0,0%,98%,.4);
  --background-header: #1a1a1ae6;
  --text-black-primary: rgba(0, 0, 0, 0.87);
  --text-black-secondary: #4d4d4d;
  --text-black-disabled: #4c4c4e;
  --text-white-primary: #fff;
  --text-white-secondary: rgba(255, 255, 255, 0.7);
  --text-white-disabled: rgba(255, 255, 255, 0.5);
  --color-primary-main: #3d84a8;
  --color-primary-main-button: #3d84a8;
  --color-primary-light: #4791db;
  --color-primary-dark: #115293;
  --color-secondary-main: #dc004e;
  --color-secondary-light: #e33371;
  --color-secondary-dark: #9a0036;
  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;
  --color-warning-main: #ff9800;
  --color-warning-light: #ffb74d;
  --color-warning-dark: #f57c00;
  --color-info-main: #2196f3;
  --color-info-light: #64b5f6;
  --color-info-dark: #1976d2;
  --color-success-main: #4caf50;
  --color-success-light: #81c784;
  --color-success-dark: #388e3c;
  --color-border: #e9e9e9;
  --color-border-settings: #c7c7c7;
  --color-border-pagination: hsla(0, 0%, 0%, 0.2);
  --color-border-button: .06rem solid hsla(0, 0%, 0%, 0.2);
  --color-border-login-button: .06rem solid var(--text-white-secondary);
  --color-header: #757575;
  --color-post-title: #212121;
  --footer: rgba(255, 255, 255, 0.7);
  --color-black: rgba(0, 0, 0, 0.87);
  --color-black-secondary: #757575;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.7);
  --color-grey: #757575;
  --loading-black: #0000002e;
  --block-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
}

:root, [data-theme=dark] {
  --background-default: #222226;
  --background-paper: #333336;
  --background-tertiary: #757575;
  --background-secondary: #272727;
  --background-header: #333336;
  --text-white-primary: rgba(0, 0, 0, 0.87);
  --text-white-secondary: #bbc0c4;
  --text-white-disabled: rgba(255, 255, 255, 0.3);
  --text-black-primary: rgb(214,214,214);
  --text-black-secondary: #bbc0c4;
  --text-black-disabled: rgba(255, 255, 255, 0.3);
  --color-primary-main: #648dae;
  --color-primary-main-button: #22578e;
  --color-primary-light: #a6d4fa;
  --color-red: rgb(136, 68, 68);
  --color-green: rgb(34,142,93);
  --color-border: #222226;
  --color-border-settings: rgb(45, 45, 45);
  --color-border-pagination: hsla(0, 0%, 100%, 0.2);
  --color-border-button: .06rem solid hsla(0,0%,100%,.2);
  --color-border-login-button: .06rem solid var(--text-white-secondary);
  --color-header: rgba(255, 255, 255, 0.7);
  --color-post-title: #cfd2d6;
  --footer: rgba(255, 255, 255, 0.7);
  --color-black: rgba(0, 0, 0, 0.87);
  --color-black-secondary: #757575;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.7);
  --color-grey: #7d7d7d;
  --loading-black: #ffffff36;
  --block-shadow: none;
}

.btn:hover {
  filter: opacity(90%) !important;
}

.btn {
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 0.69rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.88rem;
  text-align: center;
  cursor: pointer;
  transition: all 125ms ease-in-out 0s;
  padding: 0 0.84rem;
}
.btn i {
  margin-right: 4px;
}

.btn-sm {
  line-height: calc(1rem - 1px);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.hub_follow {
  margin: auto;
  text-align: center;
  width: 100%;
}

.btn-s {
  padding: 5px 10px;
  box-shadow: 0 1px 1px 0 #eee;
}

.btn_navbar_login {
  border: var(--color-border-login-button);
  color: var(--text-white-secondary);
  background: transparent;
}
.btn_navbar_login:hover {
  color: var(--text-white-primary);
}

.btn_navbar_login, .btn_navbar_registration {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border-radius: 3px;
  line-height: 20px;
  white-space: nowrap;
}

.btn_navbar_registration {
  color: #fff;
  background-color: var(--color-primary-main-button);
}
.btn_navbar_registration:hover {
  box-shadow: rgba(65, 131, 185, 0.3) 0 0 0 4px;
}

.btn-primary {
  background-color: var(--color-primary-main-button) !important;
  color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-outline {
  border: var(--color-border-button);
  color: var(--text-black-primary);
  background: transparent;
}

.submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile_user-connect {
  display: inline-block;
  color: var(--text-white-primary) !important;
  background-color: var(--color-primary-main);
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.profile_user-connected {
  display: inline-block;
  color: var(--color-white) !important;
  background-color: var(--color-gray);
  border: 1px solid var(--color-btn-border-secondary);
  width: 100%;
  text-align: center;
}

.btn-more {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: var(--color-black);
  margin: 0 0 0 auto;
}

.page-header__button {
  display: inline-block;
  color: var(--color-white) !important;
  background-color: var(--color-primary-main);
  border: none;
  border-radius: 2px;
  width: 100%;
  text-align: center;
}

.btn-follow__user {
  background: var(--color-green);
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 12px 0 0;
}

.btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}

.button_about {
  margin-top: 12px;
}

body {
  width: 100%;
  min-height: 100vh;
}

.error {
  margin-top: 15px;
  border-radius: 4px;
}
.error__text {
  color: #FFF;
  font-size: 14px;
  min-height: 34px;
  font-weight: normal;
  line-height: 20px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: var(--color-error-dark);
  letter-spacing: 0.5px;
  text-align: center;
}

.login {
  min-height: 100vh;
  min-width: 100%;
}
.login__left {
  background: var(--color-primary-main-button);
  color: #fff;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  grid-column: 1;
}
.login__info {
  color: #fff;
  display: flex;
  max-width: 70%;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}
.login__info-block {
  display: flex;
  margin-bottom: 24px;
}
.login__title {
  margin-bottom: 20px;
  font-size: 26px;
  color: var(--color-white);
}
.login__logo {
  font-size: inherit;
  margin: unset;
  color: var(--color-black);
}
.login__form {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}
.login__form-input {
  font: inherit;
  color: var(--base-text-color);
  width: 100%;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 0;
  height: 50px;
  margin: 0;
  display: block;
  min-width: 0;
  border-radius: 4px;
  -webkit-animation-name: mui-auto-fill-cancel;
          animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  padding-left: 14px;
  -webkit-animation-duration: 10ms;
          animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.login__form-input:focus {
  outline: 0;
}
.login__form-label {
  font-weight: 500;
  pointer-events: none;
  display: block;
  position: absolute;
  margin-top: 2px;
  color: #a5a4a4;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: left top;
  transition: all 0.2s ease-in-out;
}
.login__form-label::before {
  color: var(--label__color);
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}
.login__form-label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: var(--color__accent);
}
.login__form.is-focused .login__form-label {
  transform: translateY(-20px) scale(0.55);
}

@media (min-width: 1281px) {
  .login {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .login__left {
    background: var(--color-primary-main-button);
    color: #fff;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    grid-column: 1;
  }
  .login__left .login__info-block {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
  }
  .login__left .login__info-block .login__registration-block-info {
    display: flex;
    margin-bottom: 24px;
  }
  .login__left .login__info-block .login__registration-block-info .mdi {
    font-size: 25px;
  }
  .login__left .login__info-block .login__registration-block-info .icon-thumbs-up:hover {
    color: unset;
    cursor: inherit;
  }
  .login__left .login__info-block .login__registration-block-info .login__registration-info-text {
    line-height: 1.5em;
    margin-left: 15px;
    font-size: 19px;
  }
  .login__left .login__info-block .title {
    margin-bottom: 20px;
    font-size: 26px;
    color: var(--color-white);
  }
  .login__left .login__info-block .title .logo_login {
    font-size: inherit;
    margin: unset;
    color: var(--color-black);
  }
  .login__left .login__info-block .svg-icon {
    color: var(--color-blue);
  }
  .login__left .login__info-block p {
    font-size: 13px;
  }
  .login__left #particles-js {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
}
.login {
  min-height: 100vh;
  min-width: 100%;
}
.login__left {
  display: none;
}
.login__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-default);
  grid-column: 2;
  height: 100vh;
}
.login__right .ColumnContainer {
  width: 85%;
  min-width: 320px;
  max-width: 470px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
}
.login__right:before {
  content: "";
}
.login__right .login__footer {
  color: var(--text-black-primary);
  text-align: center;
  box-sizing: inherit;
  display: block;
  padding-bottom: 1.5rem;
}
.login__right .register {
  width: 100%;
  box-shadow: var(--block-shadow);
  border-radius: 4px;
  margin: 12px 0 !important;
  box-sizing: border-box;
}
.login__right .login-button {
  border: none;
  width: 100%;
  height: 44px;
  padding: 6px 16px;
  font-size: 12px;
  min-width: 40px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Brutal, sans-serif;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.login__right .login-button i {
  font-size: 24px;
}
.login__right .login-button:focus {
  outline: 0;
}
.login__right .login__footer-links {
  white-space: normal;
  visibility: visible;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 17px 0;
  width: 100%;
}
.login__right .login__footer-links .footer__link {
  white-space: normal;
  visibility: visible;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-black-secondary);
  border: none;
  font-size: 14px;
  line-height: 16px;
}
.login__right .login__footer-links a.footer__link.js-change-content:before {
  content: "\2022";
  display: inline-block;
  margin: 0 10px;
  color: #4f4f4f !important;
  font-size: 12px;
}

.hideable {
  position: relative;
  max-height: 1000px;
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.AnimatedForm__field + .AnimatedForm__field {
  margin-top: 24px;
  margin-left: 0;
}

.Title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}

.logo_login {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  color: var(--text-black-primary);
  font-family: MontDemo-Heavy, serif;
  font-size: 26px;
  text-decoration: none;
}

.btn-reg {
  padding: 12px 15px !important;
  border-radius: 3px !important;
}

.btn-reg:hover {
  background-color: #1672be;
}

.right {
  align-items: center;
  margin-left: auto;
}

.default-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  z-index: 1030;
  transition: 0.3s background-color;
}

.desc {
  color: #5b647d;
  margin-bottom: 12px;
}