@charset "UTF-8";
body {
  font-family: Roboto, Tahoma, sans-serif;
}

:root, [data-theme=default] {
  --background-default: #f5f5f5;
  --background-paper: #fff;
  --background-tertiary: #fafbfc;
  --text-black-primary: rgba(0, 0, 0, 0.87);
  --text-black-secondary: #757575;
  --text-black-disabled: #4c4c4e;
  --text-white-primary: #fff;
  --text-white-secondary: rgba(255, 255, 255, 0.7);
  --text-white-disabled: rgba(255, 255, 255, 0.5);
  --color-primary-main: #428bca;
  --color-primary-main-button: #428bca;
  --color-primary-light: #4791db;
  --color-primary-dark: #115293;
  --color-secondary-main: #dc004e;
  --color-secondary-light: #e33371;
  --color-secondary-dark: #9a0036;
  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;
  --color-warning-main: #ff9800;
  --color-warning-light: #ffb74d;
  --color-warning-dark: #f57c00;
  --color-info-main: #2196f3;
  --color-info-light: #64b5f6;
  --color-info-dark: #1976d2;
  --color-success-main: #4caf50;
  --color-success-light: #81c784;
  --color-success-dark: #388e3c;
  --color-border: #e9e9e9;
  --color-border-button: .06rem solid hsla(0, 0%, 0%, 0.2);
  --color-header: rgba(0, 0, 0, 0.7);
  --footer: rgba(255, 255, 255, 0.7);
  --color-black: rgba(0, 0, 0, 0.87);
  --color-black-secondary: #757575;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.7);
  --loading-black: #0000002e;
}

:root, [data-theme=dark] {
  --background-default: #121212;
  --background-paper: #202020;
  --background-tertiary: rgba(43,43,43,1);
  --background: #f9f9fb;
  --text-white-primary: rgba(0, 0, 0, 0.87);
  --text-white-secondary: hsla(0,0%,100%,.5);
  --text-white-disabled: rgba(255, 255, 255, 0.3);
  --text-black-primary: #fff;
  --text-black-secondary: hsla(0,0%,100%,.5);
  --text-black-disabled: rgba(255, 255, 255, 0.3);
  --color-primary-main: #648dae;
  --color-primary-main-button: #2371c1;
  --color-primary-light: #a6d4fa;
  --color-primary-dark: #648dae;
  --color-secondary-main: #f48fb1;
  --color-secondary-light: #f6a5c0;
  --color-secondary-dark: #aa647b;
  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;
  --color-warning-main: #ff9800;
  --color-warning-light: #ffb74d;
  --color-warning-dark: #f57c00;
  --color-info-main: #2196f3;
  --color-info-light: #64b5f6;
  --color-info-dark: #1976d2;
  --color-success-main: #4caf50;
  --color-success-light: #81c784;
  --color-success-dark: #388e3c;
  --color-border: #565555;
  --color-border-button: .06rem solid hsla(0,0%,100%,.2);
  --color-header: rgba(255, 255, 255, 0.7);
  --footer: rgba(255, 255, 255, 0.7);
  --color-black: rgba(0, 0, 0, 0.87);
  --color-black-secondary: #757575;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.7);
  --loading-black: #ffffff36;
}

@font-face {
  font-family: MontDemo-Heavy;
  font-style: normal;
  src: url("/fonts/MontDemo-Heavy.otf");
}
@media screen and (min-width: 36em) {
  .PageColumns {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.PageColumns {
  min-height: 100vh;
  min-width: 100%;
}
.PageColumns .PageColumn__left {
  background: var(--color-primary-main-button);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  grid-column: 1;
}
.PageColumns .PageColumn__left .login__registration {
  color: #fff;
  display: flex;
  max-width: 70%;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info {
  display: flex;
  margin-bottom: 24px;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info .mdi {
  font-size: 25px;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info .icon-thumbs-up:hover {
  color: unset;
  cursor: inherit;
}
.PageColumns .PageColumn__left .login__registration .login__registration-block-info .login__registration-info-text {
  line-height: 1.5em;
  margin-left: 15px;
  font-size: 19px;
}
.PageColumns .PageColumn__left .login__registration .title {
  margin-bottom: 20px;
  color: var(--color-white);
}
.PageColumns .PageColumn__left .login__registration .title .logo_login {
  font-size: inherit;
  margin: unset;
  color: var(--color-black);
}
.PageColumns .PageColumn__left .login__registration .svg-icon {
  color: var(--color-blue);
}
.PageColumns .PageColumn__left .login__registration p {
  font-size: 13px;
}
.PageColumns .PageColumn__left #particles-js {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.PageColumns .PageColumn__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-default);
  grid-column: 2;
}
.PageColumns .PageColumn__right .ColumnContainer {
  width: 85%;
  max-width: 60%;
  margin: 0 auto;
}
.PageColumns .PageColumn__right:before {
  content: "";
}
.PageColumns .PageColumn__right .login__footer {
  color: var(--text-black-primary);
  text-align: center;
  box-sizing: inherit;
  display: block;
  padding-bottom: 1.5rem;
}
.PageColumns .PageColumn__right .register {
  width: 100%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 12px 0 !important;
  box-sizing: border-box;
}
.PageColumns .PageColumn__right .login-button {
  width: 100%;
  border: none;
  letter-spacing: 0.5px;
  height: 36px;
  transition: all 0.2s ease-in-out;
  padding: 0 10px;
  line-height: 40px;
  text-transform: uppercase;
}
.PageColumns .PageColumn__right .login__footer-links {
  white-space: normal;
  visibility: visible;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 17px 0;
  width: 100%;
}
.PageColumns .PageColumn__right .login__footer-links .footer__link {
  white-space: normal;
  visibility: visible;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-black-secondary);
  border: none;
  font-size: 14px;
  line-height: 16px;
}
.PageColumns .PageColumn__right .login__footer-links a.footer__link.js-change-content:before {
  content: "\2022";
  display: inline-block;
  margin: 0 10px;
  color: #4f4f4f !important;
  font-size: 12px;
}

.AnimatedForm__textInput[data-empty=false] + .AnimatedForm__textInputLabel {
  transform: translate3d(0, -8px, 0) scale(0.83333333);
  line-height: 14px;
}

.AnimatedForm__textInputLabel {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 12px;
  color: #a5a4a4;
  text-transform: uppercase;
  transform: translateZ(0);
  transform-origin: 0 50%;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  line-height: 23px;
}

.AnimatedForm__textInput {
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.15;
  overflow: visible;
  outline: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  height: 48px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.hideable {
  position: relative;
  max-height: 1000px;
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.AnimatedForm__field + .AnimatedForm__field {
  margin-top: 24px;
  margin-left: 0;
}

.Title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}

.logo_login {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 20px 0;
  color: var(--text-black-primary);
  font-family: MontDemo-Heavy, serif;
  font-size: 26px;
  text-decoration: none;
}

.btn-reg {
  padding: 12px 15px !important;
  border-radius: 3px !important;
}

.btn-reg:hover {
  background-color: #1672be;
}

.right {
  align-items: center;
  margin-left: auto;
}

.default-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  z-index: 1030;
  transition: 0.3s background-color;
}

.desc {
  color: #5b647d;
  margin-bottom: 12px;
}