/* Typical white theme */
.prettyprint {
    background: white;
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: 9pt;
    line-height: 1.3;
    border: 1px solid #000000;
    padding: 10px;
}

code {
    background: white;
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: 9pt;
}
/* Plain text */
.pln {
    color: black;
}

@media screen, print, projection {
    /* String content */
    .str {
        color: #B53333;
    }
    /* Keyword */
    .kwd {
        color: #2952CC;
    }
    /* Comment */
    .com {
        color: #47B224;
    }
    /* Type name */
    .typ {
        color: #00B8B8;
    }
    /* Literal value */
    .lit {
        color: black;
    }
    /* Punctuation */
    .pun {
        color: black;
    }
    /* Lisp open bracket */
    .opn {
        color: #333333;
    }
    /* Lisp close bracket */
    .clo {
        color: #333333;
    }
    /* Mark-up tag name */
    .tag {
        color: #B53333;
    }
    /* Mark-up attribute name */
    .atn {
        color: #E81919;
    }
    /* Markup attribute value */
    .atv {
        color: #3366FF;
    }
    /* Declaration */
    .dec {
        color: #333333;
    }
    /* Variable name */
    .var {
        color: #999999;
    }
    /* Function name */
    .fun {
        color: black;
    }
}

/* Specify class="linenums" on a <pre> to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #B2B2B2;
}

/* IE indents via margin-left */
ul.linenums li {
    /* use for special formatting using linenums */
}

/* Alternate shading for lines */
ul.linenums li:nth-child(odd) {
    /* use for different formatting for every other linenum */
}
