.layout_body {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.layout_body .users__page-header h1 {
  color: var(--text-black-primary);
  font-weight: 400;
}

.layout_content {
  display: grid;
  grid-template-columns: 74% 25%;
  grid-gap: 1%;
  grid-template-areas: "page-header page-header" "edit-content content_right";
}
.layout_content .users__page-header {
  grid-area: page-header;
  height: 130px;
}

.users-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}
.users-list .list-users__hub {
  display: grid;
  grid-template-columns: 25% 40% 35%;
  position: relative;
  background: var(--background-paper);
  margin-bottom: 1%;
  padding: 14px 0;
  border: 1px solid var(--color-border);
}
.users-list .list-users__hub figure {
  padding: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border-top-left-radius: 3px;
  width: 60px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.users-list .list-users__hub .list-hubs__hub-image {
  width: 64px;
  height: 64px;
  margin: auto;
  padding: 0;
  border: 1px solid var(--color-border);
  z-index: 1;
}
.users-list .list-users__hub .list-hubs__obj-body {
  position: relative;
  width: 90%;
}
.users-list .list-users__hub .list-hubs__obj-body .list-users__title-link {
  display: inline-block;
  margin-bottom: 5px;
  color: var(--color-primary-main);
  vertical-align: top;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
.users-list .list-users__hub .list-hubs__stats {
  display: flex;
  align-items: center;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  justify-content: center;
}
.users-list .list-users__hub .list-hubs__stats .list-hubs__stats-value {
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: var(--text-black-primary);
  margin: 0 auto 3px;
}
.users-list .list-users__hub .hub_follow {
  margin: auto;
  text-align: center;
  width: 100%;
}

.content_right {
  border-radius: 4px;
}
.content_right .trophy-list__element {
  display: grid;
  grid-template-columns: 38.4px auto;
  gap: 12px;
  margin-bottom: 12px;
  color: var(--color-black);
}
.content_right .trophy-list__element .trophy-info {
  position: relative;
  line-height: normal;
}
.content_right .trophy-list__element .trophy-info .trophy-name {
  color: var(--text-black-primary);
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
  font-weight: bold;
  font-size: 15px;
}
.content_right .trophy-list__element .trophy-info .trophy-description {
  color: var(--text-black-secondary);
  font-size: 13px;
}
.content_right .trophy-list__element .trophy-info .trophy-count {
  font-size: 13px;
  color: var(--text-black-secondary);
  margin-top: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.content_right .trophy-list__element img {
  height: auto;
  max-width: 100%;
  width: 38.4px;
}
.content_right .trophy-list__element:last-child {
  margin-bottom: unset;
}