// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
    max-width: 100%;
    width: 100%;
    background: #fff;
    padding: 9px 12px;
    border: 1px solid rgba(19,28,33,.1);
    color: #666;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border;
    height: 40px;
    vertical-align: middle;
    display: inline-block;

    &:focus {
        outline: none;
        background-color: #fff;
        color: #666;
        border-color: #1e87f0;
    }
}

select {
    border-radius: 0;
}

textarea {
    resize: vertical;
    vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    appearance: none;
    border-radius: 0;
    cursor: pointer;
    font-family: var(--form-font-family);
}
