*,
*:before,
*:after {
    box-sizing: border-box;
    transition: all 125ms ease-in-out 0s;
}

html, body{
    color: var(--base-text-color);
    background: var(--base-background-color);
    font: var(--base-font-size) / var(--base-line-height) var(--base-font-family);
    min-width: var(--base-min-width);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    min-height: 100vh;
}

th {
    text-align: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul, menu, dir, p {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}
