h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
    font-family: var(--headings-font-family);
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0.5em;
    text-transform: none;
}

h1, .h1 {
    font-size: var(--headings-sizes-h1);
}

h2, .h2 {
    font-size: var(--headings-sizes-h2);
}

h3, .h3 {
    font-size: var(--headings-sizes-h3);
}

h4, .h4 {
    font-size: var(--headings-sizes-h4);
}

h5, .h5 {
    font-size: var(--headings-sizes-h5);
}

h6, .h6 {
    font-size: var(--headings-sizes-h6);
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    font-style: normal;
}

a {
    color: var(--base-link);
    text-decoration: none;

    &:focus {
        text-decoration: none;
    }
}

.link__grey{
    color: var(--color-grey-dark);
}
