[client]
#port                        = 3306
#socket                      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
#socket                      = /var/run/mysqld/mysqld.sock nice                        = 0

[mysqld]
#user                        = mysql
#pid-file                    = /var/run/mysqld/mysqld.pid
#socket                      = /var/run/mysqld/mysqld.sock
#port                        = 3306
#basedir                     = /usr
#datadir                     = /var/lib/mysql
#tmpdir                      = /tmp
#language                    = /usr/share/mysql/english
#old_passwords               = 0
#bind-address                = 127.0.0.1

skip-external-locking
skip-name-resolve

binlog_cache_size = 100M
thread_cache_size = 32

innodb_stats_on_metadata = 0

query_cache_limit = 1M
query_cache_size = 0
query_cache_type = 1

innodb_buffer_pool_size = 3G
innodb_log_file_size = 256M
innodb_log_buffer_size = 6M
innodb_flush_method = O_DSYNC
innodb_flush_log_at_trx_commit = 0
innodb_thread_concurrency = 6
innodb_file_per_table = 1


key_buffer_size = 32M
tmp_table_size = 64M
max_connections = 350
sort_buffer_size = 16M read_buffer_size = 1M
read_rnd_buffer_size = 1M
join_buffer_size = 8M
thread_stack = 1M
binlog_cache_size = 8M

tmp_table_size = 128M
table_open_cache = 2048

[mysqldump] quick
quote-names
max_allowed_packet = 16M
