name: Pipeline (production test)

on:
  push:
    branches:
      - main
      - develop

env:
    REGISTRY: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            
            -   name: Cache composer
                uses: actions/cache@v2
                with:
                    path: api/vendor
                    key: composer-${{ hashFiles('composer.lock') }}
      
            -   name: Cache frontend yarn
                uses: actions/cache@v2
                with:
                    path: node_modules
                    key: yarn-${{ hashFiles('yarn.lock') }}

            -   name: Login to Docker Hub
                uses: docker/login-action@v1
                with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            -   name: Inject branch slug
                uses: rlespinasse/github-slug-action@v2.x

            -   name: Set image tag
                run: echo "IMAGE_TAG=${{ env.GITHUB_REF_SLUG }}-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

            -   name: Build
                run: make build
                
            -   name: Push build cache images
                run: make push-build-cache

            -   name: Docker up
                run: make docker-up
            
            -   name: Composer update
                run: make composer-update
        
            -   name: Yarn install
                run: make yarn-install

            -   name: Copy .env
                run: make env

            -   name: Generate key
                run: make key

            -   name: Storage link create
                run: make storage

            -   name: Generate passport
                run: make passport

            -   name: Push build
                run: make push
