name: Pipeline (production test)

on:
  push:
    branches:
      - main

env:
    REGISTRY: docker.pkg.github.com/hose1021/devhub
    REGISTRY_HOST: docker.pkg.github.com

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            
            -   name: Cache composer
                uses: actions/cache@v2
                with:
                    path: api/vendor
                    key: composer-${{ hashFiles('composer.lock') }}
      
            -   name: Cache frontend yarn
                uses: actions/cache@v2
                with:
                    path: node_modules
                    key: yarn-${{ hashFiles('yarn.lock') }}

            -   name: Docker login
                uses: azure/docker-login@v1
                with:
                    login-server: ${{ env.REGISTRY_HOST }}
                    username: hose1021
                    password: ${{ github.token }}

            -   name: Inject branch slug
                uses: rlespinasse/github-slug-action@v2.x

            -   name: Set image tag
                run: echo "IMAGE_TAG=${{ env.GITHUB_REF_SLUG }}-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

            -   name: Build
                run: make build

            -   name: Push build
                run: make push
